Repository medizininformatik-initiative/INTERPOLAR, pull requests merged in 2024-06, with the labels that each got.

#231 229 fix missing raw ids in database log tables
  Postgres-cds_hub/init/10_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/12_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/14_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/16_cre_table_typ_log.sql
  Postgres-cds_hub/init/18_cre_view_raw_type_diff_log.sql
  Postgres-cds_hub/init/30_cds_in_to_db_log.sql
  Postgres-cds_hub/init/31_cds_in_to_db_log.sql
  Postgres-cds_hub/init/template/template_50_frontend_out_views.sql
  Postgres-cds_hub/init/template/template_copy_function_sub_single_table.sql
  Postgres-cds_hub/init/template/template_cre_table_sub_comment.sql
  Postgres-cds_hub/init/template/template_cre_table_sub_create_table_statements.sql
  Postgres-cds_hub/init/template/template_cre_table_sub_grant_alter_table.sql
  Postgres-cds_hub/init/template/template_cre_view_sub_create_or_replace_view.sql
  Postgres-cds_hub/init/template/user_schema_rights_definition.xlsx
  R-cds2db/cds2db/R/Init_02_Create_TableStatements.R
Labels: bug, Component::cds_hub

#232 230 fix functions for convert column types
  R-cds2db/cds2db/R/05_Convert_Column_Types.R
Labels: bug, Component::cds2db

#234 229 fix missing raw ids in database log tables
  Postgres-cds_hub/init/10_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/12_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/14_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/16_cre_table_typ_log.sql
  Postgres-cds_hub/init/18_cre_view_raw_type_diff_log.sql
  Postgres-cds_hub/init/30_cds_in_to_db_log.sql
  Postgres-cds_hub/init/31_cds_in_to_db_log.sql
  Postgres-cds_hub/init/template/template_copy_function_sub_compare_columns.sql
  Postgres-cds_hub/init/template/template_cre_view_sub_create_or_replace_view.sql
  Postgres-cds_hub/init/template/user_schema_rights_definition.xlsx
  R-cds2db/cds2db/R/Init_02_Create_TableStatements.R
  R-cds2db/cds2db/inst/extdata/Table_Description.xlsx
  R-cds2db/cds2db/inst/extdata/Table_Description_Definition.xlsx
Labels: bug, Component::cds_hub, Component::dataprocessor

#237 pgadmin auf neues image und neuste Version aktualisiert. refs #236
  docker-compose.yml
Labels: Component::cds_hub

#238 180 anzuzeigene daten für das frontend version 1a erzeugen
  R-cds2db/cds2db/DESCRIPTION
  R-cds2db/cds2db/NAMESPACE
  R-cds2db/cds2db/R/00_Main.R
  R-cds2db/cds2db/R/01_Get_PIDs.R
  R-cds2db/cds2db/R/03_Load_Resources.R
  R-cds2db/cds2db/R/04_Read_Write_Database_Tables.R
  R-cds2db/cds2db/R/04_Write_Tables_To_Database.R
  R-cds2db/cds2db/R/05_Convert_Column_Types.R
  R-cds2db/cds2db_config.toml
  R-dataprocessor/dataprocessor/DESCRIPTION
  R-dataprocessor/dataprocessor/NAMESPACE
  R-dataprocessor/dataprocessor/R/00_Main.R
  R-dataprocessor/dataprocessor/R/01_Init.R
  R-dataprocessor/dataprocessor/R/01_Init_For_Simple_Presentation.R
  R-dataprocessor/dataprocessor/R/02_Calculate_Drug_Disease_MRPs.R
  R-dataprocessor/dataprocessor/R/08_Old_Init_For_Calculation.R
  R-dataprocessor/dataprocessor/R/09_Calculate_Drug_Disease_MRPs.R
  R-dataprocessor/dataprocessor/R/09_FS_Calculate_Drug_Disease_MRPs.R
  R-dataprocessor/dataprocessor_config.toml
  R-db2frontend/db2frontend/R/dbDatatoREDCap.R
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_colourise_text.R
  R-etlutils/etlutils/R/lib_db.R
  R-etlutils/etlutils/R/lib_helper_functions.R
  R-etlutils/etlutils/R/lib_logging.R
  R-etlutils/etlutils/R/lib_sample_resources.R
  R-etlutils/etlutils/R/lib_str.R
  R-etlutils/etlutils/R/lib_table.R
  R-etlutils/etlutils/R/retrieve_encounter.R
Labels: bug, enhancement, Component::cds2db, Component::cds_hub, Component::dataprocessor

#239 200 code umstrukturieren
  R-cds2db/cds2db/NAMESPACE
  R-cds2db/cds2db/R/00_Main.R
  R-cds2db/cds2db/R/01_Get_PIDs.R
  R-cds2db/cds2db/R/02_Get_Table_Descriptions.R
  R-cds2db/cds2db/R/03_Load_Resources.R
  R-cds2db/cds2db/R/05_Convert_Column_Types.R
  R-cds2db/cds2db/R/Init_00.R
  R-dataprocessor/dataprocessor/NAMESPACE
  R-dataprocessor/dataprocessor/R/00_Main.R
  R-dataprocessor/dataprocessor/R/01_Init_For_Simple_Presentation.R
  R-dataprocessor/dataprocessor/R/09_Calculate_Drug_Disease_MRPs.R
  R-dataprocessor/dataprocessor/R/09_FS_Calculate_Drug_Disease_MRPs.R
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_colourise_text.R
  R-etlutils/etlutils/R/lib_db.R
  R-etlutils/etlutils/R/lib_dir.R
  R-etlutils/etlutils/R/lib_fhir_wrapper.R
  R-etlutils/etlutils/R/lib_helper_functions.R
  R-etlutils/etlutils/R/lib_logging.R
  R-etlutils/etlutils/R/lib_medical_codes.R
  R-etlutils/etlutils/R/lib_sample_resources.R
  R-etlutils/etlutils/R/lib_str.R
  R-etlutils/etlutils/R/retrieve_encounter.R
Labels: bug, enhancement, Component::cds2db, Component::dataprocessor

#241 229 fix missing raw ids in database log tables
  Postgres-cds_hub/init/02_db_config_tools.sql
  Postgres-cds_hub/init/10_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/12_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/14_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/16_cre_table_typ_log.sql
  Postgres-cds_hub/init/19_cre_view_typ_dataproc_all.sql
  Postgres-cds_hub/init/30_cds_in_to_db_log.sql
  Postgres-cds_hub/init/31_cds_in_to_db_log.sql
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_frontend_log.sql
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
  Postgres-cds_hub/init/60_dp_in_to_db_log.sql
  Postgres-cds_hub/init/62_fe_in_to_db_log.sql
  Postgres-cds_hub/init/template/template_02_db_config_tools.sql
  Postgres-cds_hub/init/template/template_copy_function_sub_single_table.sql
  Postgres-cds_hub/init/template/template_cre_table.sql
  Postgres-cds_hub/init/template/template_cre_table_sub_create_table_statements.sql
  Postgres-cds_hub/init/template/user_schema_rights_definition.xlsx
Labels: enhancement, Component::cds2db, Component::dataprocessor

#242 Ip 1a db2 red cap
  R-db2frontend/StartDB2Frontend.R
  R-db2frontend/db2frontend/R/dbDatatoREDCap.R
Labels: enhancement, Component::db2frontend

#244 Remove unused files in version 0.2.0
  R-dataprocessor/dataprocessor/R/08_Old_Init_For_Calculation.R
  R-dataprocessor/dataprocessor/R/09_Calculate_Drug_Disease_MRPs.R
  R-dataprocessor/dataprocessor/R/09_FS_Calculate_Drug_Disease_MRPs.R
  R-etlutils/etlutils/DESCRIPTION
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/charlson_comorbidity_index.R
  R-etlutils/etlutils/R/lib_medical_codes.R
  R-etlutils/etlutils/R/zzz.R
Labels: bug, documentation, Component::cds2db, Component::dataprocessor

#248 Remove unused functions in 0.2.0
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/global_variables.R
  R-etlutils/etlutils/R/lib_dir.R
  R-etlutils/etlutils/R/lib_sample_resources.R
Labels: enhancement, Component::cds2db

#252 Data source for frontend switched from temporary solution to DB core.…
  Postgres-cds_hub/init/52_cre_view_fe_out.sql
Labels: enhancement, Component::db2frontend, Component::cds_hub

#254 247 dokumentation von modul cds2db und dataprocessor
  R-cds2db/cds2db/NAMESPACE
  R-cds2db/cds2db/R/Init_00.R
  R-cds2db/cds2db/R/Init_01_Expand_TableDescription.R
  R-cds2db/cds2db/inst/extdata/Table_Description.xlsx
  R-cds2db/cds2db_config.toml
  R-dataprocessor/README.md
  R-dataprocessor/dataprocessor/R/00_Main.R
  R-dataprocessor/dataprocessor/R/01_Init_For_Simple_Presentation.R
  R-dataprocessor/dataprocessor_config.toml
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_table.R
Labels: documentation, Component::cds2db, Component::dataprocessor

#255 Fix DEBUG_CURRENT_DATETIME in dataprocessor
  R-dataprocessor/dataprocessor/R/01_Init_For_Simple_Presentation.R
Labels: bug, Component::dataprocessor

#259 257 fix encounter frontend table
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_frontend_log.sql
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
  Postgres-cds_hub/init/60_dp_in_to_db_log.sql
  R-dataprocessor/dataprocessor/R/01_Init_For_Simple_Presentation.R
  R-db2frontend/db2frontend/R/dbDatatoREDCap.R
Labels: bug, Component::db2frontend, Component::dataprocessor

#262 Added 'record_id','redcap_repeat_instrument','redcap_repeat_instance'
  R-db2frontend/db2frontend/R/dbDatatoREDCap.R
Labels: bug, Component::db2frontend

#263 261 datenbankverbindungen wieder schließen
  R-dataprocessor/dataprocessor/R/00_Main.R
  R-dataprocessor/dataprocessor/R/01_Database_Access.R
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_db.R
Labels: enhancement, Component::cds_hub, Component::dataprocessor

#264 251 fix dataviews for frontend
  Postgres-cds_hub/init/02_db_config_tools.sql
  Postgres-cds_hub/init/30_cds_in_to_db_log.sql
  Postgres-cds_hub/init/31_cds_in_to_db_log.sql
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_frontend_log.sql
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
  Postgres-cds_hub/init/60_dp_in_to_db_log.sql
  Postgres-cds_hub/init/62_fe_in_to_db_log.sql
  R-db2frontend/db2frontend/R/dbDatatoREDCap.R
Labels: Component::cds_hub

#265 251 fix dataviews for frontend
  Postgres-cds_hub/init/16_cre_table_typ_log.sql
  Postgres-cds_hub/init/template/template_copy_function_sub_single_table.sql
  R-db2frontend/db2frontend/R/dbDatatoREDCap.R
Labels: Component::cds_hub

#269 267 fuellen der neu dazugekommenen id spalten fuer patient fe und fall fe
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
Labels: enhancement, Component::dataprocessor

#272 Split SQL R-Code to get data for each REDCap form separately.
  R-db2frontend/db2frontend/R/dbDatatoREDCap.R
Labels: enhancement, Component::db2frontend

#275 251 fix dataviews for frontend
  Postgres-cds_hub/init/18_cre_view_raw_type_diff_log.sql
  Postgres-cds_hub/init/30_cds_in_to_db_log.sql
  Postgres-cds_hub/init/31_cds_in_to_db_log.sql
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
  Postgres-cds_hub/init/template/template_01_main_user_schema_sequence.sql
  Postgres-cds_hub/init/template/template_02_db_config_tools.sql
  Postgres-cds_hub/init/template/template_copy_function_sub_single_table.sql
  Postgres-cds_hub/init/template/template_cre_view_sub_create_or_replace_view.sql
  Postgres-cds_hub/init/template/user_schema_rights_definition.xlsx
  R-cds2db/cds2db/R/Init_02_Create_TableStatements.R
  R-db2frontend/db2frontend/NAMESPACE
  R-db2frontend/db2frontend/R/dbDatatoREDCap.R
Labels: enhancement, Component::cds2db, Component::db2frontend, Component::cds_hub, Component::dataprocessor

#278 276 dbdp mitfuehren der getypten daten id im dataprocessor
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_frontend_log.sql
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
  Postgres-cds_hub/init/60_dp_in_to_db_log.sql
  Postgres-cds_hub/init/62_fe_in_to_db_log.sql
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-db2frontend/db2frontend/R/dbDatatoREDCap.R
Labels: enhancement, Component::db2frontend, Component::cds_hub, Component::dataprocessor

#280 Documentation
  Install.md
  R-cds2db/README.md
  R-dataprocessor/README.md
  R-db2frontend/README.md
  README.md
  REDCap-app/Readme.md
  REDCap-app/html/Readme.md
Labels: documentation

#281 279 vereinfachen der view zum melten
  Postgres-cds_hub/init/template/template_cre_view_sub_create_or_replace_view.sql
  R-cds2db/cds2db/R/00_Main.R
  R-cds2db/cds2db_config.toml
Labels: Component::cds2db, Component::cds_hub

#295 294 fix logging
  docker-compose.yml
Labels: bug

#296 Release
  docker-compose.yml
Labels: bug

#301 247 dokumentation von modul cds2db und dataprocessor
  Dataflow.md
  R-cds2db/README.md
  R-cds2db/cds2db/README.md
  R-dataprocessor/README.md
  R-dataprocessor/dataprocessor/README.md
Labels: documentation, Component::cds2db, Component::cds_hub, Component::dataprocessor

#303 211 dokumentation db tabellen schemata
  Postgres-cds_hub/DB_description.md
Labels: documentation

#305 DB fix of the frontend tables for reimporting the frontend data in or…
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
Labels: Component::db2frontend, Component::cds_hub

#310 302 datenflussbeschreibung verlinken und workflow nummern architektur grafik verwenden
  Dataflow.md
  README.md
  interpolar-model.3lgm
Labels: documentation

#311 306 modul erfolgreich durchgelaufen meldung am ende ausgeben
  R-cds2db/cds2db/R/00_Main.R
  R-cds2db/cds2db/R/01_Get_PIDs.R
  R-etlutils/etlutils/R/lib_logging.R
Labels: enhancement, Component::cds2db

#316 222 empfehlung für dimensionierung anforderungen der vmcontainer cpu ram storage erstellen
  README.md
Labels: documentation

#319 318 frontend verändert gebutrstadatum
  REDCap-app/build/config/php.ini
  REDCap-db/template_env-redcap-db
  docker-compose.yml
Labels: bug, Component::db2frontend, Component::frontend

#320 Release
  Dataflow.md
  Postgres-cds_hub/DB_description.md
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_frontend_log.sql
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
  Postgres-cds_hub/init/60_dp_in_to_db_log.sql
  Postgres-cds_hub/init/62_fe_in_to_db_log.sql
  R-cds2db/README.md
  R-cds2db/cds2db/R/00_Main.R
  R-cds2db/cds2db/R/01_Get_PIDs.R
  R-cds2db/cds2db/README.md
  R-dataprocessor/README.md
  R-dataprocessor/dataprocessor/README.md
  R-etlutils/etlutils/R/lib_logging.R
  README.md
  REDCap-app/build/config/php.ini
  REDCap-db/template_env-redcap-db
  docker-compose.yml
  interpolar-model.3lgm
Labels: documentation, Component::cds2db, Component::db2frontend, Component::cds_hub, Component::dataprocessor, Component::frontend
