Repository medizininformatik-initiative/INTERPOLAR, pull requests merged in 2024-10, with the labels that each got.

#435 Update cds2db config toml
  R-cds2db/cds2db_config_example.toml
Labels: Component::cds2db

#436 431 restructure scrips in modul db2frontend
  R-db2frontend/StartDB2Frontend.R
  R-db2frontend/db2frontend/DESCRIPTION
  R-db2frontend/db2frontend/NAMESPACE
  R-db2frontend/db2frontend/R/00_Main.R
  R-db2frontend/db2frontend/R/01_DB_To_Frontend.R
  R-db2frontend/db2frontend/R/02_Frontend_To_DB.R
  R-db2frontend/db2frontend/R/dbDatatoREDCap.R
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_db.R
Labels: Component::db2frontend

#439 Improve logging for Debug Test Errors
  R-cds2db/cds2db/R/00_Main.R
  R-cds2db/cds2db/R/01_Get_PIDs.R
  R-cds2db/cds2db_config.toml
  R-cds2db/cds2db_config_example.toml
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_clock.R
  R-etlutils/etlutils/R/lib_logging.R
Labels: enhancement, Component::cds2db

#440 Fix syntax error in cds2db toml and example toml
  R-cds2db/cds2db_config.toml
  R-cds2db/cds2db_config_example.toml
Labels: bug, Component::cds_hub

#445 437 prepare scripts for mrp calculation
  Postgres-cds_hub/DB_description.md
  R-cds2db/cds2db/DESCRIPTION
  R-cds2db/cds2db/NAMESPACE
  R-cds2db/cds2db/R/00_Main.R
  R-cds2db/cds2db/R/01_Get_PIDs.R
  R-cds2db/cds2db/R/05_Convert_Column_Types.R
  R-cds2db/cds2db/R/cds2db-package.R
  R-cds2db/cds2db_config.toml
  R-cds2db/cds2db_config_example.toml
  R-dataprocessor/dataprocessor/DESCRIPTION
  R-dataprocessor/dataprocessor/NAMESPACE
  R-dataprocessor/dataprocessor/R/00_Main.R
  R-dataprocessor/dataprocessor/R/01_Init_Database_Access.R
  R-dataprocessor/dataprocessor/R/dataprocessor-package.R
  R-dataprocessor/dataprocessor/inst/submodules/00_Common_Functions/01_Init_Get_Resources.R
  R-dataprocessor/dataprocessor/inst/submodules/01_Study_1a/01_Create_Patient_And_Case_View.R
  R-dataprocessor/dataprocessor/inst/submodules/01_Study_1a/09_Debug_Functions.R
  R-dataprocessor/dataprocessor/inst/submodules/01_Study_1a/Start.R
  R-dataprocessor/dataprocessor/inst/submodules/02_MRP_Drug_Disease/08_Old_Init_For_Calculation.R
  R-dataprocessor/dataprocessor/inst/submodules/02_MRP_Drug_Disease/09_Calculate_Drug_Disease_MRPs.R
  R-dataprocessor/dataprocessor/inst/submodules/02_MRP_Drug_Disease/Start.R
  R-etlutils/etlutils/DESCRIPTION
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/etlutils-package.R
  R-etlutils/etlutils/R/lib_clock.R
  R-etlutils/etlutils/R/lib_logging.R
  R-etlutils/etlutils/R/lib_medical_codes.R
  R-etlutils/etlutils/R/lib_sample_resources.R
Labels: enhancement, Component::dataprocessor

#446 Expand logging informations in case of empty last_processing_nr
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
Labels: Component::dataprocessor

#452 Fix wrong timezone on backlog filenames
  R-etlutils/etlutils/R/lib_dir.R
Labels: bug, Component::etlutils
