Repository medizininformatik-initiative/INTERPOLAR, pull requests merged in 2024-07, with the labels that each got.

#325 Update Dockerfile_R
  Dockerfile_R
Labels: enhancement, Component::cds2db, Component::db2frontend, Component::dataprocessor

#327 290 checkerror wrong arguments for subsetting an environment
  R-cds2db/cds2db/R/00_Main.R
  R-dataprocessor/dataprocessor/R/00_Main.R
  R-dataprocessor/dataprocessor/R/01_Database_Access.R
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_helper_functions.R
  R-etlutils/etlutils/R/lib_logging.R
  R-etlutils/etlutils/R/retrieve_encounter.R
Labels: bug, enhancement, Component::cds2db, Component::dataprocessor

#328 Add reference to Dataflow.md in README.md
  README.md
Labels: documentation

#333 331 aus den fhir daten den kis pid statt die fhir id im frontend anzeigen im dp und db hinzufügen
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_frontend_log.sql
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
  Postgres-cds_hub/init/60_dp_in_to_db_log.sql
  Postgres-cds_hub/init/62_fe_in_to_db_log.sql
  R-db2frontend/db2frontend/R/dbDatatoREDCap.R
Labels: enhancement, Component::db2frontend, Component::dataprocessor, Component::frontend

#338 Update docker-compose.yml
  docker-compose.yml
Labels: bug, Component::cds2db

#340 326 fhir id in redcap
  R-cds2db/cds2db/R/00_Main.R
  R-cds2db/cds2db/R/03_Load_Resources.R
  R-cds2db/cds2db/R/09_Debug_Functions.R
  R-dataprocessor/StartDataProcessor.R
  R-dataprocessor/dataprocessor/NAMESPACE
  R-dataprocessor/dataprocessor/R/00_Main.R
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-dataprocessor/dataprocessor/R/09_Debug_Functions.R
  R-dataprocessor/dataprocessor_config.toml
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_db.R
  R-etlutils/etlutils/R/lib_envir.R
  R-etlutils/etlutils/R/lib_str.R
  R-etlutils/etlutils/R/lib_table.R
  R-etlutils/etlutils/tests/testthat/test-lib_datetime.R
  R-etlutils/etlutils/tests/testthat/test-lib_envir.R
  R-etlutils/etlutils/tests/testthat/test-lib_str.R
  R-etlutils/etlutils/tests/testthat/test-lib_table.R
Labels: Component::cds2db

#341 Fill column redcap_repeat_instrument and redcap_repeat_instance
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
Labels: Component::dataprocessor

#342 200 code umstrukturieren
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_collections.R
  R-etlutils/etlutils/R/lib_logging.R
  R-etlutils/etlutils/R/lib_sample_resources.R
  R-etlutils/etlutils/R/lib_str.R
  R-etlutils/etlutils/R/lib_table.R
  R-etlutils/etlutils/tests/testthat/test-lib_collections.R
  R-etlutils/etlutils/tests/testthat/test-lib_datetime.R
  R-etlutils/etlutils/tests/testthat/test-lib_helper_functions.R
  R-etlutils/etlutils/tests/testthat/test-lib_str.R
  R-etlutils/etlutils/tests/testthat/test-lib_table.R
Labels: Component::cds2db

#343 334 error beim ausführen des befehls docker compose run rm no deps r env rscript r db2frontendstartdb2frontendr
  R-cds2db/cds2db/R/01_Get_PIDs.R
  R-cds2db/source_PIDs.txt
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_str.R
  R-etlutils/etlutils/tests/testthat/test-lib_str.R
Labels: Component::cds2db
