Repository medizininformatik-initiative/INTERPOLAR, pull requests merged in 2024-08, with the labels that each got.

#347 339 daten aller patienten mit nicht abgeschlossenen faellen immer laden
  R-cds2db/cds2db/R/02_Get_Table_Descriptions.R
  R-cds2db/cds2db/R/03_Load_Resources.R
  R-cds2db/cds2db/R/05_Convert_Column_Types.R
  R-cds2db/cds2db/R/temp_Database_Access.R
Labels: enhancement, Component::cds2db

#356 355 unify r code in module db2frontend
  R-db2frontend/StartDB2Frontend.R
  R-db2frontend/db2frontend/R/dbDatatoREDCap.R
Labels: enhancement, Component::db2frontend

#358 352 filter auf encounter daten umstellen
  R-cds2db/StartRetrieval.R
  R-cds2db/cds2db/R/01_Get_PIDs.R
  R-cds2db/cds2db/R/03_Load_Resources.R
  R-cds2db/cds2db_config.toml
  R-dataprocessor/StartDataProcessor.R
  R-db2frontend/db2frontend/DESCRIPTION
  R-db2frontend/db2frontend/NAMESPACE
  R-db2frontend/db2frontend/R/dbDatatoREDCap.R
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/global_variables.R
  R-etlutils/etlutils/R/lib_sample_resources.R
  R-etlutils/etlutils/R/retrieve_encounter.R
Labels: bug, enhancement, Component::cds2db

#363 362 install anleitung schritt redcap token einfügen
  Install.md
  REDCap-app/html/Readme.md
Labels: documentation, Component::db2frontend, Component::frontend

#366 365 fix commit in cron job block
  Postgres-cds_hub/init/95_cro_job.sql
Labels: bug, Component::cds_hub

#368 Remove fill redcap_repeat columns in patient_fe from dataprpcessor
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
Labels: bug, Component::cds_hub, Component::dataprocessor

#371 Extend the waiting time for cron jobs by 10 seconds
  R-cds2db/cds2db/R/00_Main.R
Labels: bug, Component::cds2db

#377 375 doku um hinweise twendt ergänzen bzw hinweise umsetzen
  Install.md
  REDCap-app/Readme.md
  REDCap-db/mariadb.cnf
Labels: documentation, enhancement

#381 Add descriptive header to generated SQL files
  Postgres-cds_hub/init/10_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/12_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/14_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/16_cre_table_typ_log.sql
  Postgres-cds_hub/init/18_cre_view_raw_type_diff_log.sql
  Postgres-cds_hub/init/19_cre_view_typ_dataproc_all.sql
  Postgres-cds_hub/init/20_take_over_check_date.sql
  Postgres-cds_hub/init/21_cre_view_typ_cds2db_all.sql
  Postgres-cds_hub/init/30_cds_in_to_db_log.sql
  Postgres-cds_hub/init/31_cds_in_to_db_log.sql
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_frontend_log.sql
  Postgres-cds_hub/init/43_cre_table_frontend_log.sql
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
  Postgres-cds_hub/init/52_cre_view_fe_out.sql
  Postgres-cds_hub/init/60_dp_in_to_db_log.sql
  Postgres-cds_hub/init/62_fe_in_to_db_log.sql
  R-cds2db/cds2db/R/Init_02_Create_Database_Scripts.R
Labels: enhancement, Component::cds2db, Component::cds_hub
