Repository medizininformatik-initiative/INTERPOLAR, pull requests merged in 2024-05, with the labels that each got.

#192 154 modellierung it architektur
  README.md
  interpolar-model.3lgm
Labels: documentation

#193 Documentation
  Install.md
  README.md
Labels: documentation

#195 189 umbenennung kds cds
  Dockerfile_R
  Install.md
  Postgres-amts_db/init/init-db.sql
  Postgres-cds_hub/Readme.md
  Postgres-cds_hub/build/Dockerfile
  Postgres-cds_hub/init/01_main_user_schema_sequence.sql
  Postgres-cds_hub/init/10_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/12_cre_table_rar_db_log.sql
  Postgres-cds_hub/init/14_cre_table_typ_log.sql
  Postgres-cds_hub/init/16_cre_view_raw_type_diff_log.sql
  Postgres-cds_hub/init/18_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/template/init-db_template.sql
  Postgres-cds_hub/init/template/init-db_template_sub_grant.sql
  Postgres-cds_hub/postgresql.conf
  Postgres-cds_hub/template_env_cds_hub_db_admin.password
  R-cds2db/README.md
  R-cds2db/StartRetrieval.R
  R-cds2db/cds2db/.Rbuildignore
  R-cds2db/cds2db/DESCRIPTION
  R-cds2db/cds2db/LICENSE.md
  R-cds2db/cds2db/NAMESPACE
  R-cds2db/cds2db/R/00_Main.R
  R-cds2db/cds2db/R/01_Get_PIDs.R
  R-cds2db/cds2db/R/02_Get_Table_Descriptions.R
  R-cds2db/cds2db/R/03_Load_Resources.R
  R-cds2db/cds2db/R/04_Write_Tables_To_Database.R
  R-cds2db/cds2db/R/05_Convert_Column_Types.R
  R-cds2db/cds2db/R/Preparation_Create_TableStatements.R
  R-cds2db/cds2db/R/Preparation_Expand_TableDescription.R
  R-cds2db/cds2db/R/cds2db-package.R
  R-cds2db/cds2db/README.md
  R-cds2db/cds2db/cds2db.Rproj
  R-cds2db/cds2db/inst/extdata/Table_Description.xlsx
  R-cds2db/cds2db/inst/extdata/Table_Description_Definition.xlsx
  R-cds2db/cds2db/tests/testthat.R
  R-cds2db/cds2db/tests/testthat/test-Preparation_Expand_TableDescription.R
  R-cds2db/cds2db_config.toml
  R-cds2db/source_PIDs.txt
  R-dataprocessor/dataprocessor/R/01_Init.R
  R-dataprocessor/dataprocessor_config.toml
  R-db2frontend/db2frontend_config.toml
  R-etlutils/etlutils/R/lib_sample_resources.R
  README.md
  REDCap-app/build/Dockerfile
  cds_hub_db_config.toml
  docker-compose.yml
Labels: Component::kds2db, Component::db2frontend, Component::amts_db, Component::dataprocessor, Component::frontend

#208 155 pgadmin konfiguration aus den umgebungsvariablen docker compose env erzeugen
  Install.md
  Postgres-cds_hub/Readme.md
  docker-compose.yml
  pgadmin_cds_hub.json
Labels: enhancement, Component::cds_hub

#209 204 docker compose version entfernen
  docker-compose.yml
Labels: enhancement

#210 157 dockerredcap verschiedene redcap downloads bzw versionen testen und ggf bugfix
  REDCap-app/html/Readme.md
  REDCap-db/init/00_redcap_create_grant.sql
  REDCap-db/init/10_redcap_install-tables.sql
  REDCap-db/init/redcap.sql
Labels: enhancement

#215 199 datenbank sql scripte automatisch generieren
  Postgres-cds_hub/init/10_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/12_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/14_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/16_cre_table_typ_log.sql
  Postgres-cds_hub/init/18_cre_view_raw_type_diff_log.sql
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_typ_log.sql
  Postgres-cds_hub/init/44_cre_table_typ_db.sql
  Postgres-cds_hub/init/46_cre_table_typ_fe_in.sql
  Postgres-cds_hub/init/52_cre_view_fe_out.sql
  Postgres-cds_hub/init/template/template_cre_table_sub_comment.sql
  Postgres-cds_hub/init/template/template_cre_table_sub_comment_single_line.sql
  Postgres-cds_hub/init/template/template_cre_table_sub_comment_typed_raw_id_line.sql
  Postgres-cds_hub/init/template/template_cre_view_sub_create_or_replace_view.sql
  Postgres-cds_hub/init/template/user_schema_rights_definition.xlsx
  R-cds2db/cds2db/R/Init_02_Create_TableStatements.R
Labels: enhancement, Component::cds2db, Component::cds_hub

#216 Add missing variable in DB generating R script
  R-cds2db/cds2db/R/Init_02_Create_TableStatements.R
Labels: bug, Component::cds2db, Component::cds_hub

#218 207 fix raw tabellen in die datenbank schreiben
  Postgres-cds_hub/init/14_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/16_cre_table_typ_log.sql
  R-cds2db/cds2db/NAMESPACE
  R-cds2db/cds2db/R/00_Main.R
  R-cds2db/cds2db/R/01_Get_PIDs.R
  R-cds2db/cds2db/R/02_Get_Table_Descriptions.R
  R-cds2db/cds2db/R/03_Load_Resources.R
  R-cds2db/cds2db/R/04_Write_Tables_To_Database.R
  R-cds2db/cds2db/R/05_Convert_Column_Types.R
  R-cds2db/cds2db/R/Init_02_Create_TableStatements.R
  R-cds2db/cds2db/inst/extdata/Table_Description.xlsx
  R-cds2db/cds2db/inst/extdata/Table_Description_Definition.xlsx
  R-dataprocessor/dataprocessor_config.toml
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/global_variables.R
  R-etlutils/etlutils/R/lib_clock.R
  R-etlutils/etlutils/R/lib_datetime.R
  R-etlutils/etlutils/R/lib_db.R
  R-etlutils/etlutils/R/lib_dir.R
  R-etlutils/etlutils/R/lib_envir.R
  R-etlutils/etlutils/R/lib_helper_functions.R
  R-etlutils/etlutils/R/lib_logging.R
  R-etlutils/etlutils/R/lib_sample_resources.R
  R-etlutils/etlutils/R/lib_table.R
  R-etlutils/etlutils/tests/testthat/test-lib_datetime.R
  R-etlutils/etlutils/tests/testthat/test-lib_helper_functions.R
  cds_hub_db_config.toml
Labels: bug, enhancement, Component::cds2db, Component::cds_hub

#220 Fix Database credentials for dataprocessor
  cds_hub_db_config.toml
Labels: bug, Component::dataprocessor

#223 221 typisierte Tabellen fuer Dataprocessor bereitstellen
  Postgres-cds_hub/init/19_cre_view_typ_dataproc_all.sql
  Postgres-cds_hub/init/30_cds_in_to_db_log.sql
  Postgres-cds_hub/init/31_cds_in_to_db_log.sql
  Postgres-cds_hub/init/template/template_copy_function.sql
  Postgres-cds_hub/init/template/template_copy_function_sub_single_table.sql
  Postgres-cds_hub/init/template/template_cre_view2.sql
  Postgres-cds_hub/init/template/template_cre_view2_sub_single_table.sql
  Postgres-cds_hub/init/template/user_schema_rights_definition.xlsx
  R-cds2db/cds2db/R/Init_02_Create_TableStatements.R
Labels: enhancement, Component::cds_hub, Component::dataprocessor

#225 224 aktualisierung der tabellen des frontends
  Postgres-cds_hub/init/30_cds_in_to_db_log.sql
  Postgres-cds_hub/init/31_cds_in_to_db_log.sql
  Postgres-cds_hub/init/46_cre_table_typ_fe_in.sql
  Postgres-cds_hub/init/52_cre_view_fe_out.sql
  Postgres-cds_hub/init/template/template_copy_function.sql
Labels: enhancement, Component::db2frontend, Component::cds_hub

#226 Fix wron comments in DB script 46
  Postgres-cds_hub/init/46_cre_table_typ_fe_in.sql
Labels: bug, Component::cds_hub

#228 Customized tables for frontend and direct access for frontend to FHIR…
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_typ_log.sql
  Postgres-cds_hub/init/44_cre_table_typ_db.sql
  Postgres-cds_hub/init/46_cre_table_typ_fe_in.sql
  Postgres-cds_hub/init/50_frontend_out_views.sql
  Postgres-cds_hub/init/52_cre_view_fe_out.sql
Labels: enhancement, Component::db2frontend, Component::cds_hub
