Repository medizininformatik-initiative/INTERPOLAR, pull requests merged in 2024-09, with the labels that each got.

#383 Develop
  Install.md
  Postgres-cds_hub/DB_description.md
  Postgres-cds_hub/Readme.md
  Postgres-cds_hub/init/10_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/12_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/14_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/16_cre_table_typ_log.sql
  Postgres-cds_hub/init/18_cre_view_raw_type_diff_log.sql
  Postgres-cds_hub/init/19_cre_view_typ_dataproc_all.sql
  Postgres-cds_hub/init/20_take_over_check_date.sql
  Postgres-cds_hub/init/21_cre_view_typ_cds2db_all.sql
  Postgres-cds_hub/init/30_cds_in_to_db_log.sql
  Postgres-cds_hub/init/31_cds_in_to_db_log.sql
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_frontend_log.sql
  Postgres-cds_hub/init/43_cre_table_frontend_log.sql
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
  Postgres-cds_hub/init/52_cre_view_fe_out.sql
  Postgres-cds_hub/init/60_dp_in_to_db_log.sql
  Postgres-cds_hub/init/62_fe_in_to_db_log.sql
  R-cds2db/cds2db/R/00_Main.R
  R-cds2db/cds2db/R/Init_02_Create_Database_Scripts.R
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-db2frontend/db2frontend/inst/extdata/Readme.md
  REDCap-app/Readme.md
  REDCap-db/mariadb.cnf
Labels: enhancement

#384 Updating the frontend tables to the current status of the redcap project
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_frontend_log.sql
  Postgres-cds_hub/init/43_cre_table_frontend_log.sql
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
  Postgres-cds_hub/init/60_dp_in_to_db_log.sql
  Postgres-cds_hub/init/62_fe_in_to_db_log.sql
  R-db2frontend/db2frontend/inst/extdata/Frontend_Table_Description.xlsx
Labels: Component::db2frontend

#385 Develop
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_frontend_log.sql
  Postgres-cds_hub/init/43_cre_table_frontend_log.sql
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
  Postgres-cds_hub/init/60_dp_in_to_db_log.sql
  Postgres-cds_hub/init/62_fe_in_to_db_log.sql
  R-db2frontend/db2frontend/inst/extdata/Frontend_Table_Description.xlsx
Labels: enhancement

#386 add necessary redcap columns also for non-repeating instruments - mus…
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_frontend_log.sql
  Postgres-cds_hub/init/43_cre_table_frontend_log.sql
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
  Postgres-cds_hub/init/60_dp_in_to_db_log.sql
  Postgres-cds_hub/init/62_fe_in_to_db_log.sql
  R-db2frontend/db2frontend/inst/extdata/Frontend_Table_Description.xlsx
Labels: Component::db2frontend, Component::frontend

#387 Develop
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_frontend_log.sql
  Postgres-cds_hub/init/43_cre_table_frontend_log.sql
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
  Postgres-cds_hub/init/60_dp_in_to_db_log.sql
  Postgres-cds_hub/init/62_fe_in_to_db_log.sql
  R-db2frontend/db2frontend/inst/extdata/Frontend_Table_Description.xlsx
Labels: bug

#391 390 bereinigung globaler variablen
  R-cds2db/cds2db_config.toml
  R-etlutils/etlutils/R/global_variables.R
  R-etlutils/etlutils/R/lib_envir.R
  R-etlutils/etlutils/R/lib_sample_resources.R
Labels: bug, Component::cds2db

#393 Fix wrong DB tables names if no resources loaded from FHIR server
  R-cds2db/cds2db/R/00_Main.R
Labels: bug, Component::cds2db

#399 Fix upper/lower case and add table description seperator
  R-cds2db/cds2db/R/03_Load_Resources.R
Labels: bug, enhancement, Component::cds2db

#401 400 fix debug config toml comments
  R-cds2db/cds2db_config.toml
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
Labels: documentation, enhancement, Component::cds2db

#407 Expand parameter logging functionality
  R-cds2db/cds2db/R/00_Main.R
  R-dataprocessor/dataprocessor/R/00_Main.R
  R-db2frontend/db2frontend/R/dbDatatoREDCap.R
  R-etlutils/etlutils/R/lib_collections.R
  R-etlutils/etlutils/tests/testthat/test-lib_collections.R
Labels: enhancement, Component::cds2db

#411 Fix redcap_repeat_instrument contains instrument name and not label
  R-db2frontend/db2frontend/R/dbDatatoREDCap.R
Labels: bug

#412 408 finale frontend struktur vom 04092024 umsetzen
  Postgres-cds_hub/DB_description.md
  Postgres-cds_hub/init/02_db_config_tools.sql
  Postgres-cds_hub/init/10_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_frontend_log.sql
  Postgres-cds_hub/init/43_cre_table_frontend_log.sql
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
  Postgres-cds_hub/init/45_cre_table_frontend_in_trig.sql
  Postgres-cds_hub/init/60_dp_in_to_db_log.sql
  Postgres-cds_hub/init/62_fe_in_to_db_log.sql
  R-db2frontend/db2frontend/inst/extdata/Frontend_Table_Description.xlsx
Labels: Component::db2frontend, Component::cds_hub, Component::frontend

#415 DB fix bug at default values current timestamp data hist
  Postgres-cds_hub/init/02_db_config_tools.sql
Labels: bug

#417 Optimization of the timestamp in all tables
  Postgres-cds_hub/init/10_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/12_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/14_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/16_cre_table_typ_log.sql
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_frontend_log.sql
  Postgres-cds_hub/init/43_cre_table_frontend_log.sql
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
  Postgres-cds_hub/init/60_dp_in_to_db_log.sql
  Postgres-cds_hub/init/62_fe_in_to_db_log.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_table_GRANTS_AND_FUNCS.sql
  R-db2frontend/db2frontend/inst/extdata/Frontend_Table_Description.xlsx
Labels: bug, Component::cds_hub

#422 Fix error if debug start and end date are set in cds2db.toml
  R-cds2db/cds2db/R/01_Get_PIDs.R
Labels: bug, Component::cds2db

#420 419 debug filter in cds2dbtoml erzeugen nur warnung wenn indizes nicht zur ergebnismenge passen
  R-cds2db/cds2db/R/03_Load_Resources.R
Labels: Component::cds2db

#424 Authorization to access the sequence is passed directly when the func…
  Postgres-cds_hub/init/45_cre_table_frontend_in_trig.sql
Labels: bug, Component::db2frontend, Component::cds_hub

#425 403 r env debug tools einfügen
  Dockerfile_R
  REDCap-app/build/Dockerfile
  REDCap-app/redcap_cron_example.sh
Labels: enhancement
