Repository medizininformatik-initiative/INTERPOLAR, pull requests merged in 2024-12, with the labels that each got.

#491 484 fix db error handling
  Dataflow.md
  Postgres-cds_hub/DB_description.md
Labels: documentation, enhancement, Component::cds2db, Component::db2frontend, Component::cds_hub, Component::dataprocessor, Component::etlutils

#496 Fix error for Encounter Class Code FHIR Path in TableDescription
  R-cds2db/cds2db/inst/extdata/Table_Description.xlsx
  R-cds2db/cds2db/inst/extdata/Table_Description_Definition.xlsx
Labels: bug

#502 494 semaphore um modulname erweitern
  Postgres-cds_hub/init/10_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/12_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/14_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/15_get_last_processing_nr_typed.sql
  Postgres-cds_hub/init/16_cre_table_typ_log.sql
  Postgres-cds_hub/init/19_cre_view_typ_dataproc_all.sql
  Postgres-cds_hub/init/20_take_over_check_date.sql
  Postgres-cds_hub/init/30_cds_in_to_db_log.sql
  Postgres-cds_hub/init/31_cds_in_to_db_log.sql
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_frontend_log.sql
  Postgres-cds_hub/init/43_cre_table_frontend_log.sql
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
  Postgres-cds_hub/init/60_dp_in_to_db_log.sql
  Postgres-cds_hub/init/62_fe_in_to_db_log.sql
  Postgres-cds_hub/init/95_cro_job.sql
  Postgres-cds_hub/init/template/LOOP_COLS_SUB_LOOP_TABS_SUB_cre_table_COMMENTS.sql
  Postgres-cds_hub/init/template/LOOP_COLS_SUB_LOOP_TABS_SUB_cre_table_TABLES.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_copy_function.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_table_COMMENTS.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_table_TABLES.sql
  Postgres-cds_hub/init/template/template_copy_function.sql
  Postgres-cds_hub/init/template/template_get_last_pnr_typed.sql
  Postgres-cds_hub/init/template/template_take_over_check_date_function.sql
  R-cds2db/cds2db/DESCRIPTION
  R-cds2db/cds2db/NAMESPACE
  R-cds2db/cds2db/R/00_Main.R
  R-cds2db/cds2db/R/01_Database_Functions.R
  R-cds2db/cds2db/R/02_Get_PIDs.R
  R-cds2db/cds2db/R/03_Get_Table_Descriptions.R
  R-cds2db/cds2db/R/04_Load_Resources.R
  R-dataprocessor/dataprocessor/DESCRIPTION
  R-dataprocessor/dataprocessor/R/00_Main.R
  R-dataprocessor/dataprocessor/R/01_Database_Functions.R
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-db2frontend/db2frontend/DESCRIPTION
  R-db2frontend/db2frontend/R/00_Main.R
  R-db2frontend/db2frontend/R/01_Database_Funtions.R
  R-db2frontend/db2frontend/R/02_DB_To_Frontend.R
  R-db2frontend/db2frontend/R/03_Frontend_To_DB.R
  R-etlutils/etlutils/DESCRIPTION
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_db.R
Labels: bug, enhancement

#509 508 parameter bei fehlender partof referenz einfügen
  R-cds2db/cds2db/R/02_Get_PIDs.R
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-dataprocessor/dataprocessor_config.toml
  R-dataprocessor/dataprocessor_config_example.toml
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_filter_resources.R
Labels: Component::dataprocessor, Component::etlutils

#516 remove mcrypt from REDCap-app/Dockerfile, refs #515
  REDCap-app/build/Dockerfile
Labels: Component::frontend

#519 Fix Encounter Location FHIR path
  Postgres-cds_hub/init/10_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/12_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/14_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/16_cre_table_typ_log.sql
  R-cds2db/cds2db/inst/extdata/Table_Description.xlsx
  R-cds2db/cds2db/inst/extdata/Table_Description_Definition.xlsx
Labels: bug, Component::cds_hub

#520 Write patient identifier value in fall_fe
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
Labels: bug, Component::dataprocessor

#524 503 unify database scripts in all r modules
  R-cds2db/cds2db/R/00_Main.R
  R-cds2db/cds2db/R/01_Database_Functions.R
  R-cds2db/cds2db/R/04_Load_Resources.R
  R-dataprocessor/dataprocessor/R/00_Main.R
  R-dataprocessor/dataprocessor/R/01_Database_Functions.R
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-db2frontend/db2frontend/R/00_Main.R
  R-db2frontend/db2frontend/R/01_Database_Funtions.R
  R-db2frontend/db2frontend/R/01_Shared_Functions.R
  R-db2frontend/db2frontend/R/02_DB_To_Frontend.R
  R-db2frontend/db2frontend/R/03_Frontend_To_DB.R
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_db.R
  R-etlutils/etlutils/R/lib_envir.R
  cds_hub_db_config.toml
Labels: enhancement, Component::cds2db, Component::db2frontend, Component::dataprocessor, Component::etlutils

#529 Set timezone explicitly to Europe/Berlin
  R-etlutils/etlutils/R/lib_datetime.R
  R-etlutils/etlutils/tests/testthat/test-lib_datetime.R
Labels: bug, Component::etlutils

#521 506 db statusanzeige erweitern des verarbeitungsprozesses
  Postgres-cds_hub/init/02_db_config_tools.sql
  Postgres-cds_hub/init/03_db_parameter.sql
  Postgres-cds_hub/init/20_take_over_check_date.sql
  Postgres-cds_hub/init/30_cds_in_to_db_log.sql
  Postgres-cds_hub/init/31_cds_in_to_db_log.sql
  Postgres-cds_hub/init/60_dp_in_to_db_log.sql
  Postgres-cds_hub/init/62_fe_in_to_db_log.sql
  Postgres-cds_hub/init/95_cro_job.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_copy_function.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_copy_function2.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_take_over_check_date_function.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_take_over_check_date_function3.sql
  Postgres-cds_hub/init/template/template_copy_function.sql
  Postgres-cds_hub/init/template/template_take_over_check_date_function.sql
Labels: documentation, Component::cds_hub

#530 506 db statusanzeige erweitern des verarbeitungsprozesses
  Postgres-cds_hub/init/02_db_config_tools.sql
Labels: bug, Component::cds2db

#538 Fix debug observation table extention
  R-cds2db/cds2db/R/04_Load_Resources.R
Labels: bug, Component::cds2db

#540 DB - Change the function to show the status of the semaphore - only s…
  Postgres-cds_hub/init/95_cro_job.sql
Labels: Component::cds_hub

#542 Add full toolchain description
  README.md
  full_toolchain_description.md
Labels: documentation
