Repository medizininformatik-initiative/INTERPOLAR, pull requests merged in 2024-03, with the labels that each got.

#146 Documentation
  README.md
  REDCap-app/html/Readme.md
Labels: documentation

#156 152 logging fehler beheben
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_clock.R
  R-etlutils/etlutils/R/lib_colourise_text.R
  R-etlutils/etlutils/R/lib_helper_functions.R
  R-etlutils/etlutils/R/lib_logging.R
  R-etlutils/etlutils/man/createClock.Rd
  R-etlutils/etlutils/man/printClock.Rd
  R-etlutils/etlutils/man/startProcess.Rd
  R-etlutils/etlutils/man/stopOnError.Rd
  R-etlutils/etlutils/man/stopWithError.Rd
  R-kds2db/kds2db/R/00_Main.R
  R-kds2db/kds2db/R/01_Get_PIDs.R
Labels: bug, documentation, enhancement, Component::kds2db

#160 substitute ${PWD} with ".", refs #158
  docker-compose.yml
Labels: bug

#164 159 konvertierung der datumsangaben
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_helper_functions.R
  R-etlutils/etlutils/man/convertBooleanFormat.Rd
  R-etlutils/etlutils/man/convertDateFormat.Rd
  R-etlutils/etlutils/man/convertDateInformation.Rd
  R-etlutils/etlutils/man/convertDateTimeFormat.Rd
  R-etlutils/etlutils/man/convertDecimalFormat.Rd
  R-etlutils/etlutils/man/convertIntegerFormat.Rd
  R-etlutils/etlutils/man/convertTimeFormat.Rd
  R-etlutils/etlutils/man/convertTimeToPOSIXct.Rd
  R-etlutils/etlutils/man/fixDateFormat.Rd
  R-etlutils/etlutils/tests/testthat/test-lib_helper_functions.R
  R-kds2db/kds2db/NAMESPACE
  R-kds2db/kds2db/R/00_Main.R
  R-kds2db/kds2db/R/02_Get_Table_Descriptions.R
  R-kds2db/kds2db/R/05_Convert_Column_Types.R
  R-kds2db/kds2db/man/convertType.Rd
  R-kds2db/kds2db/man/convertTypes.Rd
  R-kds2db/kds2db/man/loadTableDescriptionFile.Rd
Labels: enhancement, Component::kds2db

#166 165 string längen überprüfen vor eintrag in der db
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_clock.R
  R-etlutils/etlutils/R/lib_db.R
  R-etlutils/etlutils/man/createClock.Rd
  R-etlutils/etlutils/man/dbCheckContent.Rd
  R-kds2db/kds2db/R/02_Get_Table_Descriptions.R
  R-kds2db/kds2db/R/04_Write_Tables_To_Database.R
  R-kds2db/kds2db/R/Preparation_Expand_TableDescription.R
  R-kds2db/kds2db/man/checkResult.Rd
  R-kds2db/kds2db/man/convertTypes.Rd
  R-kds2db/kds2db/man/loadTableDescriptionFile.Rd
Labels: documentation, enhancement, Component::kds2db
