Repository medizininformatik-initiative/INTERPOLAR, pull requests merged in 2024-11, with the labels that each got.

#458 454 fhir search debug parameter erweitern
  R-cds2db/cds2db/R/03_Load_Resources.R
  R-cds2db/cds2db_config.toml
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_fhir_wrapper.R
  R-etlutils/etlutils/R/lib_sample_resources.R
  R-etlutils/etlutils/tests/testthat/test-sample_resources.R
Labels: Component::cds2db

#465 441 melting dauert zu lange
  Dockerfile_R
  R-cds2db/cds2db/R/05_Convert_Column_Types.R
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_sample_resources.R
  R-etlutils/etlutils/R/lib_str.R
  R-etlutils/etlutils/R/lib_table.R
Labels: Component::etlutils

#469 Add filter for Frontend displayed Encounter class in dataprocessor
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-dataprocessor/dataprocessor_config.toml
Labels: enhancement, Component::dataprocessor, Component::frontend

#475 added pg_background install to cds-hub postgres DB, refs #474
  Postgres-cds_hub/build/Dockerfile
Labels: Component::cds_hub

#477 404 fhir endpunkt curl parameter debug doku zertifikate mounten
  Install.md
  R-cds2db/cds2db_config.toml
  docker-compose.yml
Labels: documentation, enhancement, Component::etlutils
