Repository medizininformatik-initiative/INTERPOLAR, pull requests merged in 2025-02, with the labels that each got.

#591 449 meta information aller resourcen mit ausleiten
  Postgres-cds_hub/R-initcdstoolchain/initcdstoolchain/R/Init_01_Expand_TableDescription.R
  Postgres-cds_hub/init/10_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/12_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/14_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/16_cre_table_typ_log.sql
  Postgres-cds_hub/init/30_cds_in_to_db_log.sql
  Postgres-cds_hub/init/31_cds_in_to_db_log.sql
  R-cds2db/cds2db/R/02_Get_PIDs.R
  R-cds2db/cds2db/R/04_Load_Resources.R
  R-cds2db/cds2db/inst/extdata/Table_Description.xlsx
  R-cds2db/cds2db/inst/extdata/Table_Description_Definition.xlsx
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
Labels: Component::cds2db, Component::etlutils

#592 590 fix room and bed display
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-dataprocessor/dataprocessor_config.toml
  R-etlutils/etlutils/R/lib_filter_resources.R
Labels: bug, Component::dataprocessor

#593 Develop v0.2.8
  Postgres-cds_hub/R-initcdstoolchain/initcdstoolchain/R/Init_01_Expand_TableDescription.R
  Postgres-cds_hub/init/10_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/12_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/14_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/16_cre_table_typ_log.sql
  Postgres-cds_hub/init/30_cds_in_to_db_log.sql
  Postgres-cds_hub/init/31_cds_in_to_db_log.sql
  R-cds2db/cds2db/R/02_Get_PIDs.R
  R-cds2db/cds2db/R/04_Load_Resources.R
  R-cds2db/cds2db/inst/extdata/Table_Description.xlsx
  R-cds2db/cds2db/inst/extdata/Table_Description_Definition.xlsx
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-dataprocessor/dataprocessor_config.toml
  R-etlutils/etlutils/R/lib_filter_resources.R
Labels: enhancement

#594 Release v0.2.8
  Postgres-cds_hub/R-initcdstoolchain/initcdstoolchain/R/Init_01_Expand_TableDescription.R
  Postgres-cds_hub/init/10_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/12_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/14_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/16_cre_table_typ_log.sql
  Postgres-cds_hub/init/30_cds_in_to_db_log.sql
  Postgres-cds_hub/init/31_cds_in_to_db_log.sql
  R-cds2db/cds2db/R/02_Get_PIDs.R
  R-cds2db/cds2db/R/04_Load_Resources.R
  R-cds2db/cds2db/inst/extdata/Table_Description.xlsx
  R-cds2db/cds2db/inst/extdata/Table_Description_Definition.xlsx
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-dataprocessor/dataprocessor_config.toml
  R-etlutils/etlutils/R/lib_filter_resources.R
  README.md
Labels: enhancement

#604 602 entlassene patienten als solche erkennen
  Postgres-cds_hub/R-initcdstoolchain/initcdstoolchain/DESCRIPTION
  Postgres-cds_hub/R-initcdstoolchain/initcdstoolchain/NAMESPACE
  Postgres-cds_hub/R-initcdstoolchain/initcdstoolchain/R/initcdstoolchain-package.R
  Postgres-cds_hub/R-initcdstoolchain/initcdstoolchain/initcdstoolchain.Rproj
  Postgres-cds_hub/init/02_db_config_tools.sql
  Postgres-cds_hub/init/03_db_parameter.sql
  Postgres-cds_hub/init/10_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/12_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/14_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/15_get_last_processing_nr_typed.sql
  Postgres-cds_hub/init/16_cre_table_typ_log.sql
  Postgres-cds_hub/init/18_cre_view_raw_type_diff_log.sql
  Postgres-cds_hub/init/19_cre_view_typ_dataproc_all.sql
  Postgres-cds_hub/init/20_take_over_check_date.sql
  Postgres-cds_hub/init/21_cre_view_typ_cds2db_all.sql
  Postgres-cds_hub/init/22_cre_view_raw_cds2db_last.sql
  Postgres-cds_hub/init/30_cds_in_to_db_log.sql
  Postgres-cds_hub/init/31_cds_in_to_db_log.sql
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_frontend_log.sql
  Postgres-cds_hub/init/43_cre_table_frontend_log.sql
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
  Postgres-cds_hub/init/46_cre_view_fe_dataproc_last.sql
  Postgres-cds_hub/init/47_cre_view_fe_dataproc_all.sql
  Postgres-cds_hub/init/52_cre_view_fe_out.sql
  Postgres-cds_hub/init/60_dp_in_to_db_log.sql
  Postgres-cds_hub/init/62_fe_in_to_db_log.sql
  Postgres-cds_hub/init/95_cro_job.sql
  Postgres-cds_hub/init/template/LOOP_COLS_SUB_LOOP_TABS_SUB_copy_function_COMPARE.sql
  Postgres-cds_hub/init/template/LOOP_COLS_SUB_LOOP_TABS_SUB_cre_table_HASH.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_copy_function.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_table_INDEX_ID.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_table_TABLES.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_take_over_check_date_function.sql
  Postgres-cds_hub/init/template/template_copy_function.sql
  Postgres-cds_hub/init/template/template_cre_table.sql
  Postgres-cds_hub/init/template/template_take_over_check_date_function.sql
  Postgres-cds_hub/test/2025_01_05 Test_Funktion_Ergebnisse.txt
  Postgres-cds_hub/test/2025_01_05 Test_Funktion_optimierung_SQL_code_Messung.txt
  R-cds2db/StartRetrieval.R
  R-cds2db/cds2db/DESCRIPTION
  R-cds2db/cds2db/NAMESPACE
  R-cds2db/cds2db/R/00_Main.R
  R-cds2db/cds2db/R/02_Get_PIDs.R
  R-cds2db/cds2db/R/04_Load_Resources.R
  R-cds2db/cds2db/R/cds2db-package.R
  R-dataprocessor/dataprocessor/DESCRIPTION
  R-dataprocessor/dataprocessor/NAMESPACE
  R-dataprocessor/dataprocessor/R/00_Main.R
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-db2frontend/db2frontend/R/00_Main.R
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/etlutils-package.R
  R-etlutils/etlutils/R/lib_envir.R
  R-etlutils/etlutils/R/lib_fhir_and db_resource.R
  R-etlutils/etlutils/R/lib_logging.R
  R-etlutils/etlutils/R/lib_module.R
  R-etlutils/etlutils/R/lib_wrap_fhircrackr.R
Labels: bug, enhancement, Component::cds2db, Component::db2frontend, Component::cds_hub, Component::dataprocessor, Component::etlutils

#608 607 prepare release 029
  R-dataprocessor/dataprocessor/R/dataprocessor-package.R
  R-etlutils/etlutils/R/lib_fhir_and_db_resource.R
Labels: bug

#610 Revert changes in getActiveEncounterPIDsFromDB query
  R-cds2db/cds2db/R/04_Load_Resources.R
Labels: bug, Component::cds2db

#611 607 prepare release 029
  R-cds2db/cds2db/R/00_Main.R
  R-etlutils/etlutils/R/lib_db.R
Labels: bug
