Repository medizininformatik-initiative/INTERPOLAR, pull requests merged in 2025-01, with the labels that each got.

#556 555 db2dataprocessor out views auf alle tabellen geben sowie zeitstempel anpassen
  Postgres-cds_hub/DB_description.md
  Postgres-cds_hub/init/19_cre_view_typ_dataproc_all.sql
  Postgres-cds_hub/init/21_cre_view_typ_cds2db_all.sql
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_frontend_log.sql
  Postgres-cds_hub/init/43_cre_table_frontend_log.sql
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
  Postgres-cds_hub/init/46_cre_view_fe_dataproc_last.sql
  Postgres-cds_hub/init/47_cre_view_fe_dataproc_all.sql
  Postgres-cds_hub/init/60_dp_in_to_db_log.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_view2_VIEWS_AND_GRANTS.sql
  Postgres-cds_hub/init/template/User_Schema_Rights_Definition.xlsx
  R-db2frontend/db2frontend/inst/extdata/Frontend_Table_Description.xlsx
Labels: Component::cds_hub, Component::dataprocessor

#557 528 zeitzonenproblem bei patientengeburtstag in frontend2db
  R-cds2db/cds2db/R/04_Load_Resources.R
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-db2frontend/db2frontend/R/01_Shared_Functions.R
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/constants.R
  R-etlutils/etlutils/R/lib_clock.R
  R-etlutils/etlutils/R/lib_datetime.R
  R-etlutils/etlutils/R/lib_db.R
  R-etlutils/etlutils/R/lib_dir.R
  R-etlutils/etlutils/R/lib_sample_resources.R
  R-etlutils/etlutils/tests/testthat/test-lib_datetime.R
Labels: bug, Component::dataprocessor, Component::frontend, Component::etlutils

#562 522 größe wird in einigen fällen nicht nach redcap übertragen
  R-cds2db/cds2db/R/04_Load_Resources.R
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
Labels: Component::dataprocessor

#564 551 es werden nur daten von neuen patienten geladen
  R-cds2db/cds2db/R/04_Load_Resources.R
  R-cds2db/cds2db_config.toml
  R-etlutils/etlutils/R/lib_collections.R
  R-etlutils/etlutils/tests/testthat/test-lib_collections.R
Labels: enhancement, Component::cds2db, Component::dataprocessor

#569 566 cds2db error bei medicationrequestdoseageinstructiontimingrepeattimeofday beim schreiben in datenbank
  R-etlutils/etlutils/R/lib_datetime.R
  R-etlutils/etlutils/R/lib_helper_functions.R
Labels: Component::cds_hub, Component::etlutils

#570 develop -> release
  Postgres-cds_hub/DB_description.md
  Postgres-cds_hub/init/19_cre_view_typ_dataproc_all.sql
  Postgres-cds_hub/init/21_cre_view_typ_cds2db_all.sql
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_frontend_log.sql
  Postgres-cds_hub/init/43_cre_table_frontend_log.sql
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
  Postgres-cds_hub/init/46_cre_view_fe_dataproc_last.sql
  Postgres-cds_hub/init/47_cre_view_fe_dataproc_all.sql
  Postgres-cds_hub/init/60_dp_in_to_db_log.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_view2_VIEWS_AND_GRANTS.sql
  Postgres-cds_hub/init/template/User_Schema_Rights_Definition.xlsx
  R-cds2db/cds2db/R/04_Load_Resources.R
  R-cds2db/cds2db_config.toml
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-db2frontend/db2frontend/R/01_Shared_Functions.R
  R-db2frontend/db2frontend/inst/extdata/Frontend_Table_Description.xlsx
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/constants.R
  R-etlutils/etlutils/R/lib_clock.R
  R-etlutils/etlutils/R/lib_collections.R
  R-etlutils/etlutils/R/lib_datetime.R
  R-etlutils/etlutils/R/lib_db.R
  R-etlutils/etlutils/R/lib_dir.R
  R-etlutils/etlutils/R/lib_helper_functions.R
  R-etlutils/etlutils/R/lib_sample_resources.R
  R-etlutils/etlutils/tests/testthat/test-lib_collections.R
  R-etlutils/etlutils/tests/testthat/test-lib_datetime.R
Labels: enhancement

#571 Validate pids_per_ward
  R-cds2db/cds2db/R/02_Get_PIDs.R
  R-cds2db/cds2db_config.toml
Labels: enhancement, Component::cds2db

#572 develop -> release
  R-cds2db/cds2db/R/02_Get_PIDs.R
  R-cds2db/cds2db_config.toml
Labels: documentation, enhancement, Component::cds2db

#578 Develop -> Release
  R-etlutils/etlutils/DESCRIPTION
  R-etlutils/etlutils/tests/testthat/test-lib_datetime.R
Labels: Component::etlutils

#579 517 anzeige vom bett in redcap funktioniert nicht
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-etlutils/etlutils/R/lib_filter_resources.R
Labels: Component::dataprocessor

#580 Add the term "module" to the description
  README.md
Labels: documentation

#582 Release v0.2.7
  Postgres-cds_hub/DB_description.md
  Postgres-cds_hub/init/19_cre_view_typ_dataproc_all.sql
  Postgres-cds_hub/init/21_cre_view_typ_cds2db_all.sql
  Postgres-cds_hub/init/40_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/42_cre_table_frontend_log.sql
  Postgres-cds_hub/init/43_cre_table_frontend_log.sql
  Postgres-cds_hub/init/44_cre_table_frontend_in.sql
  Postgres-cds_hub/init/46_cre_view_fe_dataproc_last.sql
  Postgres-cds_hub/init/47_cre_view_fe_dataproc_all.sql
  Postgres-cds_hub/init/60_dp_in_to_db_log.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_view2_VIEWS_AND_GRANTS.sql
  Postgres-cds_hub/init/template/User_Schema_Rights_Definition.xlsx
  R-cds2db/cds2db/R/02_Get_PIDs.R
  R-cds2db/cds2db/R/04_Load_Resources.R
  R-cds2db/cds2db_config.toml
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-db2frontend/db2frontend/R/01_Shared_Functions.R
  R-db2frontend/db2frontend/inst/extdata/Frontend_Table_Description.xlsx
  R-etlutils/etlutils/DESCRIPTION
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/constants.R
  R-etlutils/etlutils/R/lib_clock.R
  R-etlutils/etlutils/R/lib_collections.R
  R-etlutils/etlutils/R/lib_datetime.R
  R-etlutils/etlutils/R/lib_db.R
  R-etlutils/etlutils/R/lib_dir.R
  R-etlutils/etlutils/R/lib_filter_resources.R
  R-etlutils/etlutils/R/lib_helper_functions.R
  R-etlutils/etlutils/R/lib_sample_resources.R
  R-etlutils/etlutils/tests/testthat/test-lib_collections.R
  R-etlutils/etlutils/tests/testthat/test-lib_datetime.R
  README.md
Labels: enhancement
