Repository medizininformatik-initiative/INTERPOLAR, pull requests merged in 2025-05, with the labels that each got.

#764 Quit processes on error with return value 1
  R-cds2db/StartRetrieval.R
  R-cds2db/cds2db/R/00_Main.R
  R-cdstoolchain/StartCDSToolChain.R
  R-cdstoolchain/StartDebugCDSToolChain.R
  R-dataprocessor/StartDataProcessor.R
  R-dataprocessor/dataprocessor/R/00_Main.R
  R-db2frontend/StartDB2Frontend.R
  R-db2frontend/db2frontend/R/00_Main.R
  R-etlutils/etlutils/R/lib_logging.R
Labels: enhancement, Component::cds2db, Component::db2frontend, Component::dataprocessor, Component::etlutils

#766 765 fix changed redcap list values delimiter in csv export
  R-db2frontend/db2frontend/inst/extdata/RedcapDataDictionaryToFrontendTableDescription.R
Labels: bug, Component::frontend

#769 177 berechnung drug disease mrps
  R-cds2db/cds2db/R/00_Main.R
  R-dataprocessor/dataprocessor/R/00_Main.R
  R-dataprocessor/dataprocessor/R/Functions.R
  R-db2frontend/db2frontend/R/00_Main.R
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/global_variables.R
  R-etlutils/etlutils/R/lib_dir.R
  R-etlutils/etlutils/R/lib_envir.R
  R-etlutils/etlutils/R/lib_fhir_search.R
  R-etlutils/etlutils/R/lib_logging.R
  R-etlutils/etlutils/R/lib_module.R
Labels: enhancement, Component::etlutils

#771 575 inhalt und metadaten von wp7 listen in db speichern
  .gitignore
  Dockerfile_R
  Input-Repo/README.md
  R-dataprocessor/dataprocessor/DESCRIPTION
  R-dataprocessor/dataprocessor/NAMESPACE
  R-dataprocessor/dataprocessor/R/00_Main.R
  R-dataprocessor/dataprocessor/R/01_Shared_Functions.R
  R-dataprocessor/dataprocessor/R/02_MRP_Functions.R
  R-dataprocessor/dataprocessor/R/Functions.R
  R-dataprocessor/submodules/01_Study_1a/R-Study_1a/R/01_Create_Patient_And_Case_View.R
  R-dataprocessor/submodules/01_Study_1a/README.Rmd
  R-dataprocessor/submodules/02_MRP_Drug_Disease/R-MRP_Drug_Disease/R/01_Calculate_Drug_Disease_MRPs.R
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_dataprocessor.R
  R-etlutils/etlutils/R/lib_table.R
  R-etlutils/etlutils/tests/testthat/test-lib_table.R
Labels: Component::dataprocessor

#774 Enable adding columns per extension file in frontend DB tables
  R-db2frontend/db2frontend/inst/extdata/Frontend_Table_Description.xlsx
  R-db2frontend/db2frontend/inst/extdata/Frontend_Table_Description_Extension.xlsx
  R-db2frontend/db2frontend/inst/extdata/RedcapDataDictionaryToFrontendTableDescription.R
Labels: Component::db2frontend, Component::cds_hub

#783 Release
  Postgres-cds_hub/init/020_db_config_tools.sql
  Postgres-cds_hub/init/190_cre_view_typ_dataproc_last_import.sql
  Postgres-cds_hub/init/200_take_over_check_date.sql
  Postgres-cds_hub/init/220_cre_view_raw_cds2db_last_import.sql
  Postgres-cds_hub/init/460_cre_view_fe_dataproc_last_import.sql
  Postgres-cds_hub/init/520_cre_view_fe_out.sql
  Postgres-cds_hub/init/950_cro_job.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_view_last_import_TABLES.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_take_over_check_date_function_count.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_take_over_check_date_function_last_pnr.sql
  Postgres-cds_hub/init/template/template_take_over_check_date_function.sql
  Postgres-cds_hub/test/Testdatensatz_takeover_setzen_last_PNr.txt
  R-cds2db/cds2db/R/00_Main.R
  R-cds2db/test/test3_change_RAW_Data.R
  R-cdstoolchain/StartCDSToolChain.R
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-dataprocessor/dataprocessor_config.toml
  R-dataprocessor/dataprocessor_config_example.toml
  R-db2frontend/Start1_Frontend2DB.R
  R-db2frontend/Start2_DB2Frontend.R
  R-db2frontend/db2frontend/NAMESPACE
  R-db2frontend/db2frontend/R/00_Main.R
  R-etlutils/etlutils/R/lib_db.R
  R-etlutils/etlutils/R/lib_envir.R
  R-etlutils/etlutils/R/lib_module.R
  R-etlutils/etlutils/R/lib_wrap_fhircrackr.R
  README.md
Labels: bug, enhancement
