Repository medizininformatik-initiative/INTERPOLAR, pull requests merged in 2025-04, with the labels that each got.

#676 Create and Update Data Access Groups in Redcap
  R-db2frontend/db2frontend/NAMESPACE
  R-db2frontend/db2frontend/R/02_DB_To_Frontend.R
  R-db2frontend/db2frontend/R/03_Frontend_To_DB.R
  R-db2frontend/db2frontend/R/db2frontend-package.R
Labels: enhancement, Component::db2frontend

#675 Create LICENSE
  LICENSE
Labels: enhancement

#677 Update Frontend_Table_Description and dictionary
  R-db2frontend/db2frontend/inst/extdata/Frontend_DataDictionary.csv
  R-db2frontend/db2frontend/inst/extdata/Frontend_Table_Description.xlsx
Labels: Component::db2frontend

#678 661 typo in tabledescriptiondefinition medreq intend statt intent
  Postgres-cds_hub/init/100_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/120_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/140_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/160_cre_table_typ_log.sql
  Postgres-cds_hub/init/250_adding_historical_raw_records.sql
  Postgres-cds_hub/init/300_cds_in_to_db_log.sql
  Postgres-cds_hub/init/310_cds_in_to_db_log.sql
  R-cds2db/cds2db/inst/extdata/Table_Description.xlsx
  R-cds2db/cds2db/inst/extdata/Table_Description_Definition.xlsx
Labels: bug, Component::cds2db

#679 666 fix fhir resource download
  R-etlutils/etlutils/R/lib_sample_resources.R
Labels: bug, Component::etlutils

#681 665 dokumentation änderung der datenbankstruktur
  Postgres-cds_hub/DB_description.md
  Postgres-cds_hub/init/035_db_log_table_structure.sql
  Postgres-cds_hub/init/950_cro_job.sql
Labels: documentation, Component::cds_hub

#682 Add deceasedDateTime in Table_Description and SQL scrips
  Postgres-cds_hub/init/100_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/120_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/140_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/160_cre_table_typ_log.sql
  Postgres-cds_hub/init/300_cds_in_to_db_log.sql
  Postgres-cds_hub/init/310_cds_in_to_db_log.sql
  R-cds2db/cds2db/inst/extdata/Table_Description.xlsx
  R-cds2db/cds2db/inst/extdata/Table_Description_Definition.xlsx
Labels: Component::cds2db

#683 670 fall fe tabelle je eine spalte für encid und encidentifier2
  Postgres-cds_hub/init/400_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/420_cre_table_frontend_log.sql
  Postgres-cds_hub/init/430_cre_table_frontend_log.sql
  Postgres-cds_hub/init/440_cre_table_frontend_in.sql
  Postgres-cds_hub/init/600_dp_in_to_db_log.sql
  Postgres-cds_hub/init/620_fe_in_to_db_log.sql
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
Labels: Component::cds_hub

#684 644 retry bei fhir search abfragen
  R-cds2db/cds2db/R/02_Get_PIDs.R
  R-cds2db/cds2db/R/04_Load_Resources.R
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_sample_resources.R
  R-etlutils/etlutils/tests/testthat/test-lib_sample_resources.R
  R-etlutils/etlutils/tests/testthat/test-lib_table.R
Labels: enhancement, Component::etlutils

#689 667 fhir metadatum update separat behandeln
  Postgres-cds_hub/R-initcdstoolchain/initcdstoolchain/NAMESPACE
  Postgres-cds_hub/R-initcdstoolchain/initcdstoolchain/R/Init_02_Create_Database_Scripts.R
  Postgres-cds_hub/init/035_db_log_table_structure.sql
  Postgres-cds_hub/init/100_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/120_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/140_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/160_cre_table_typ_log.sql
  Postgres-cds_hub/init/190_cre_view_typ_dataproc_last_import.sql
  Postgres-cds_hub/init/220_cre_view_raw_cds2db_last_import.sql
  Postgres-cds_hub/init/230_cre_view_raw_cds2db_last_version.sql
  Postgres-cds_hub/init/230_cre_view_raw_dataproc_last_version.sql
  Postgres-cds_hub/init/230_cre_view_typ_cds2db_last_version.sql
  Postgres-cds_hub/init/230_cre_view_typ_dataproc_last_version.sql
  Postgres-cds_hub/init/300_cds_in_to_db_log.sql
  Postgres-cds_hub/init/310_cds_in_to_db_log.sql
  Postgres-cds_hub/init/400_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/420_cre_table_frontend_log.sql
  Postgres-cds_hub/init/430_cre_table_frontend_log.sql
  Postgres-cds_hub/init/440_cre_table_frontend_in.sql
  Postgres-cds_hub/init/520_cre_view_fe_out.sql
  Postgres-cds_hub/init/600_dp_in_to_db_log.sql
  Postgres-cds_hub/init/620_fe_in_to_db_log.sql
  Postgres-cds_hub/init/950_cro_job.sql
  Postgres-cds_hub/init/template/LOOP_COLS_SUB_LOOP_TABS_SUB_copy_function_META.sql
  Postgres-cds_hub/init/template/LOOP_COLS_SUB_LOOP_TABS_SUB_cre_table_TABLES_HASH.sql
  Postgres-cds_hub/init/template/LOOP_COLS_SUB_LOOP_TABS_SUB_cre_table_TABLES_INDEX.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_copy_function.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_table_INDEX_ID.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_table_TABLES.sql
  Postgres-cds_hub/init/template/User_Schema_Rights_Definition.xlsx
Labels: Component::cds_hub

#691 644 retry bei fhir search abfragen
  R-etlutils/etlutils/R/lib_sample_resources.R
  R-etlutils/etlutils/R/lib_wrap_fhircrackr.R
Labels: Component::etlutils

#692 Fix missing grant in SQL script for last import view
  Postgres-cds_hub/init/190_cre_view_typ_dataproc_last_import.sql
Labels: Component::cds_hub

#693 Fix query for pids_per_ward_last
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
Labels: bug, Component::cds_hub

#694 667 fhir metadatum update separat behandeln
  Postgres-cds_hub/DB_description.md
  Postgres-cds_hub/init/030_db_parameter.sql
  Postgres-cds_hub/init/100_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/120_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/140_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/150_get_last_processing_nr_typed.sql
  Postgres-cds_hub/init/160_cre_table_typ_log.sql
  Postgres-cds_hub/init/180_cre_view_raw_type_diff_log.sql
  Postgres-cds_hub/init/190_cre_view_typ_dataproc_all.sql
  Postgres-cds_hub/init/190_cre_view_typ_dataproc_last_import.sql
  Postgres-cds_hub/init/200_take_over_check_date.sql
  Postgres-cds_hub/init/210_cre_view_typ_cds2db_all.sql
  Postgres-cds_hub/init/220_cre_view_raw_cds2db_last_import.sql
  Postgres-cds_hub/init/230_cre_view_raw_cds2db_last_version.sql
  Postgres-cds_hub/init/230_cre_view_raw_dataproc_last_version.sql
  Postgres-cds_hub/init/230_cre_view_typ_cds2db_last_version.sql
  Postgres-cds_hub/init/230_cre_view_typ_dataproc_last_version.sql
  Postgres-cds_hub/init/250_adding_historical_raw_records.sql
  Postgres-cds_hub/init/300_cds_in_to_db_log.sql
  Postgres-cds_hub/init/310_cds_in_to_db_log.sql
  Postgres-cds_hub/init/400_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/420_cre_table_frontend_log.sql
  Postgres-cds_hub/init/430_cre_table_frontend_log.sql
  Postgres-cds_hub/init/440_cre_table_frontend_in.sql
  Postgres-cds_hub/init/450_cre_table_frontend_in_trig.sql
  Postgres-cds_hub/init/460_cre_view_fe_dataproc_last.sql
  Postgres-cds_hub/init/470_cre_view_fe_dataproc_all.sql
  Postgres-cds_hub/init/520_cre_view_fe_out.sql
  Postgres-cds_hub/init/600_dp_in_to_db_log.sql
  Postgres-cds_hub/init/620_fe_in_to_db_log.sql
  Postgres-cds_hub/init/template/LOOP_COLS_SUB_LOOP_TABS_SUB_copy_function_META.sql
  Postgres-cds_hub/init/template/LOOP_COLS_SUB_LOOP_TABS_SUB_take_over_check_date_function_update_fhir_data_SET.sql
  Postgres-cds_hub/init/template/LOOP_COLS_SUB_LOOP_TABS_SUB_take_over_check_date_function_update_fhir_data_WHERE.sql
  Postgres-cds_hub/init/template/LOOP_DEF_SUB_LOOP_TABS_SUB_cre_view_last_import_GRANTS.sql
  Postgres-cds_hub/init/template/LOOP_DEF_SUB_LOOP_TABS_SUB_cre_view_last_version_GRANTS.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_copy_function.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_view4_TABLES.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_view5_TABLES.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_view_all_VIEWS_AND_GRANTS.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_view_last_import_GRANTS.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_view_last_import_TABLES.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_view_last_version_GRANTS.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_view_last_version_TABLES.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_take_over_check_date_function4.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_take_over_check_date_function5.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_take_over_check_date_function_count.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_take_over_check_date_function_lpn_collection.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_take_over_check_date_function_update_data.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_take_over_check_date_function_update_fhir_data.sql
  Postgres-cds_hub/init/template/User_Schema_Rights_Definition.xlsx
  Postgres-cds_hub/init/template/template_cre_view4.sql
  Postgres-cds_hub/init/template/template_cre_view6.sql
  Postgres-cds_hub/init/template/template_cre_view_all.sql
  Postgres-cds_hub/init/template/template_cre_view_diff.sql
  Postgres-cds_hub/init/template/template_cre_view_last_import.sql
  Postgres-cds_hub/init/template/template_cre_view_last_version.sql
  Postgres-cds_hub/init/template/template_take_over_check_date_function.sql
Labels: documentation, Component::cds_hub

#709 703 patienten ohne vornamen
  Postgres-cds_hub/R-initcdstoolchain/initcdstoolchain/R/Init_01_Expand_TableDescription.R
  R-cds2db/cds2db/R/02_Get_PIDs.R
  R-cds2db/cds2db/R/04_Load_Resources.R
  R-cds2db/test/test_common_data_preparation.R
  R-cdstoolchain/StartCDSToolChain.R
  R-dataprocessor/dataprocessor/NAMESPACE
  R-dataprocessor/dataprocessor/R/01_Shared_Functions.R
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-dataprocessor/dataprocessor_config.toml
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_collections.R
  R-etlutils/etlutils/R/lib_db.R
  R-etlutils/etlutils/R/lib_envir.R
  R-etlutils/etlutils/R/lib_fhir_and_db_resource.R
  R-etlutils/etlutils/R/lib_fhir_data.R
  R-etlutils/etlutils/R/lib_fhir_db.R
  R-etlutils/etlutils/R/lib_fhir_search.R
  R-etlutils/etlutils/R/lib_parallel.R
  R-etlutils/etlutils/R/lib_table.R
  R-etlutils/etlutils/tests/testthat/test-lib_fhir_search.R
Labels: bug, Component::dataprocessor

#710 disable multiple encounter in pids_per_ward
  R-cds2db/cds2db/R/02_Get_PIDs.R
  R-cds2db/cds2db_config.toml
Labels: Component::cds2db

#713 711 fhir search min patient age can be null
  R-etlutils/etlutils/R/lib_fhir_search.R
Labels: bug, Component::etlutils

#712 703 patienten ohne vornamen2
  Postgres-cds_hub/init/100_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/120_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/140_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/160_cre_table_typ_log.sql
  Postgres-cds_hub/init/300_cds_in_to_db_log.sql
  Postgres-cds_hub/init/310_cds_in_to_db_log.sql
  R-cds2db/cds2db/inst/extdata/Table_Description.xlsx
  R-cds2db/cds2db/inst/extdata/Table_Description_Definition.xlsx
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
Labels: Component::dataprocessor

#716 715 reactivate fhircrackr installation from cran in dockerfile r
  Dockerfile_R
  R-etlutils/etlutils/R/lib_module.R
Labels: Component::etlutils

#717 714 fix filter for multiple encounters per patient
  R-cds2db/cds2db/R/00_Main.R
  R-cds2db/cds2db/R/01_Shared_Functions.R
  R-cds2db/cds2db/R/02_Get_PIDs.R
  R-cds2db/cds2db/R/04_Load_Resources.R
  R-cds2db/cds2db_config.toml
Labels: bug, enhancement, Component::cds_hub, Component::dataprocessor

#719 Enable run cron job function from R code by DB toml parameter
  R-etlutils/etlutils/R/lib_db.R
Labels: enhancement, Component::etlutils

#721 720 fix git not found error in docker run
  Dockerfile_R
  R-etlutils/etlutils/R/lib_module.R
Labels: bug, Component::cds2db

#723 722 optimize database calls for observations
  Postgres-cds_hub/R-initcdstoolchain/initcdstoolchain/DESCRIPTION
  R-cds2db/cds2db/DESCRIPTION
  R-cdstoolchain/StartCDSToolChain.R
  R-dataprocessor/dataprocessor/DESCRIPTION
  R-dataprocessor/dataprocessor/R/01_Shared_Functions.R
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-db2frontend/db2frontend/DESCRIPTION
Labels: enhancement, Component::dataprocessor

#725 724 validate encounter subject references
  R-cds2db/cds2db/R/01_Shared_Functions.R
  R-cds2db/cds2db/R/02_Get_PIDs.R
Labels: Component::cds2db

#726 462 data access groups im importskript berücksichtigen
  R-cds2db/cds2db_config.toml
  R-cds2db/cds2db_config_example.toml
  R-cds2db/debug_config_toml/debug_cds2db_config_1.toml
  R-cds2db/test/test1_cds2db_config.toml
  R-dataprocessor/dataprocessor_config.toml
  R-dataprocessor/dataprocessor_config_example.toml
  R-db2frontend/db2frontend_config.toml
Labels: enhancement, Component::cds2db, Component::dataprocessor

#733 732 update redcap version and db scripts
  Postgres-cds_hub/init/190_cre_view_typ_dataproc_last_import.sql
  Postgres-cds_hub/init/400_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/420_cre_table_frontend_log.sql
  Postgres-cds_hub/init/430_cre_table_frontend_log.sql
  Postgres-cds_hub/init/440_cre_table_frontend_in.sql
  Postgres-cds_hub/init/600_dp_in_to_db_log.sql
  Postgres-cds_hub/init/620_fe_in_to_db_log.sql
  R-db2frontend/db2frontend/inst/extdata/Frontend_DataDictionary.csv
  R-db2frontend/db2frontend/inst/extdata/Frontend_Table_Description.xlsx
  R-db2frontend/db2frontend/inst/extdata/RedcapDataDictionaryToFrontendTableDescription.R
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_db.R
Labels: Component::db2frontend, Component::cds_hub

#735 674 zimmernummerbett in fall fe
  R-dataprocessor/dataprocessor/R/01_Shared_Functions.R
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-dataprocessor/dataprocessor_config.toml
  R-dataprocessor/dataprocessor_config_example.toml
Labels: enhancement, Component::dataprocessor

#738 727 no patient ref found in pids per ward after check patients on multiple wards
  R-cds2db/cds2db/R/02_Get_PIDs.R
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-dataprocessor/dataprocessor_config.toml
  R-dataprocessor/dataprocessor_config_example.toml
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_fhir_data.R
  R-etlutils/etlutils/R/lib_helper_functions.R
  R-etlutils/etlutils/tests/testthat/test-lib_helper_functions.R
Labels: enhancement, Component::dataprocessor

#742 685 umschreiben der sql createskripte so das diese auch als migrationsskripte verwendbar sind
  Postgres-cds_hub/DB_description.md
  Postgres-cds_hub/R-initcdstoolchain/initcdstoolchain/R/Init_01_Expand_TableDescription.R
  Postgres-cds_hub/init/001_main_user_schema_sequence.sql
  Postgres-cds_hub/init/020_db_config_tools.sql
  Postgres-cds_hub/init/030_db_parameter.sql
  Postgres-cds_hub/init/035_db_log_table_structure.sql
  Postgres-cds_hub/init/100_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/120_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/140_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/150_get_last_processing_nr_typed.sql
  Postgres-cds_hub/init/160_cre_table_typ_log.sql
  Postgres-cds_hub/init/180_cre_view_raw_type_diff_log.sql
  Postgres-cds_hub/init/190_cre_view_typ_dataproc_all.sql
  Postgres-cds_hub/init/190_cre_view_typ_dataproc_last_import.sql
  Postgres-cds_hub/init/200_take_over_check_date.sql
  Postgres-cds_hub/init/210_cre_view_typ_cds2db_all.sql
  Postgres-cds_hub/init/220_cre_view_raw_cds2db_last_import.sql
  Postgres-cds_hub/init/230_cre_view_raw_cds2db_last_version.sql
  Postgres-cds_hub/init/230_cre_view_raw_dataproc_last_version.sql
  Postgres-cds_hub/init/230_cre_view_typ_cds2db_last_version.sql
  Postgres-cds_hub/init/230_cre_view_typ_dataproc_last_version.sql
  Postgres-cds_hub/init/250_adding_historical_raw_records.sql
  Postgres-cds_hub/init/300_cds_in_to_db_log.sql
  Postgres-cds_hub/init/310_cds_in_to_db_log.sql
  Postgres-cds_hub/init/400_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/420_cre_table_frontend_log.sql
  Postgres-cds_hub/init/430_cre_table_frontend_log.sql
  Postgres-cds_hub/init/440_cre_table_frontend_in.sql
  Postgres-cds_hub/init/450_cre_table_frontend_in_trig.sql
  Postgres-cds_hub/init/460_cre_view_fe_dataproc_last_import.sql
  Postgres-cds_hub/init/470_cre_view_fe_dataproc_all.sql
  Postgres-cds_hub/init/520_cre_view_fe_out.sql
  Postgres-cds_hub/init/600_dp_in_to_db_log.sql
  Postgres-cds_hub/init/620_fe_in_to_db_log.sql
  Postgres-cds_hub/init/migration/000_stop_semapore_during_migration.sql
  Postgres-cds_hub/init/migration/999_start_semapore_after_migration.sql
  Postgres-cds_hub/init/migration/migration.sql
  Postgres-cds_hub/init/template/LOOP_COLS_SUB_LOOP_TABS_SUB_cre_table_TABLES.sql
  Postgres-cds_hub/init/template/LOOP_COLS_SUB_LOOP_TABS_SUB_cre_table_TABLES_HASH_WHERE.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_table_TABLES.sql
  Postgres-cds_hub/init/template/User_Schema_Rights_Definition.xlsx
  Postgres-cds_hub/init/template/template_cre_table.sql
  Postgres-cds_hub/init/template/template_migration.sql
  R-cds2db/cds2db/inst/extdata/Table_Description.xlsx
  R-cds2db/cds2db/inst/extdata/Table_Description_Definition.xlsx
  R-db2frontend/db2frontend/R/01_Shared_Functions.R
  R-db2frontend/db2frontend/R/02_DB_To_Frontend.R
  R-db2frontend/db2frontend/inst/extdata/Frontend_DataDictionary.csv
  R-db2frontend/db2frontend/inst/extdata/Frontend_Table_Description.xlsx
Labels: documentation, enhancement, Component::cds_hub

#744 743 reopen closed database connection
  R-cds2db/cds2db/R/00_Main.R
  R-cds2db/cds2db/R/02_Get_PIDs.R
  R-cds2db/cds2db_config.toml
  R-cds2db/cds2db_config_example.toml
  R-cds2db/debug_config_toml/debug_cds2db_config_1.toml
  R-cds2db/test/tables/initial_encounters.RData
  R-cdstoolchain/StartCDSToolChain.R
  R-db2frontend/db2frontend/R/01_Shared_Functions.R
  R-db2frontend/db2frontend/R/02_DB_To_Frontend.R
  R-etlutils/etlutils/R/lib_db.R
Labels: bug, Component::cds2db
