Repository medizininformatik-initiative/INTERPOLAR, pull requests merged in 2025-09, with the labels that each got.

#931 741 migration nur bei bedarf
  Postgres-cds_hub/init/001_main_user_schema_sequence.sql
  Postgres-cds_hub/init/020_db_config_tools.sql
  Postgres-cds_hub/init/030_db_parameter.sql
  Postgres-cds_hub/init/035_db_log_table_structure.sql
  Postgres-cds_hub/init/100_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/120_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/140_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/150_get_last_processing_nr_typed.sql
  Postgres-cds_hub/init/160_cre_table_typ_log.sql
  Postgres-cds_hub/init/180_cre_view_raw_type_diff_log.sql
  Postgres-cds_hub/init/190_cre_view_typ_dataproc_all.sql
  Postgres-cds_hub/init/190_cre_view_typ_dataproc_last_import.sql
  Postgres-cds_hub/init/200_take_over_check_date.sql
  Postgres-cds_hub/init/210_cre_view_typ_cds2db_all.sql
  Postgres-cds_hub/init/220_cre_view_raw_cds2db_last_import.sql
  Postgres-cds_hub/init/230_cre_view_raw_cds2db_last_version.sql
  Postgres-cds_hub/init/230_cre_view_raw_dataproc_last_version.sql
  Postgres-cds_hub/init/230_cre_view_typ_cds2db_last_version.sql
  Postgres-cds_hub/init/230_cre_view_typ_dataproc_last_version.sql
  Postgres-cds_hub/init/250_adding_historical_raw_records.sql
  Postgres-cds_hub/init/300_cds_in_to_db_log.sql
  Postgres-cds_hub/init/310_cds_in_to_db_log.sql
  Postgres-cds_hub/init/330_cre_table_dataproc_submodules_dataproc_in.sql
  Postgres-cds_hub/init/331_cre_table_dataproc_submodules_log.sql
  Postgres-cds_hub/init/332_db_submodules_dp_in_to_db_log.sql
  Postgres-cds_hub/init/334_cre_view_dataproc_submodules_last_import.sql
  Postgres-cds_hub/init/335_cre_view_dataproc_submodules_all.sql
  Postgres-cds_hub/init/340_cre_table_dataproc_core_dataproc_in.sql
  Postgres-cds_hub/init/341_cre_table_dataproc_core_log.sql
  Postgres-cds_hub/init/342_db_core_dp_in_to_db_log.sql
  Postgres-cds_hub/init/344_cre_view_dataproc_core_last_import.sql
  Postgres-cds_hub/init/345_cre_view_dataproc_core_all.sql
  Postgres-cds_hub/init/400_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/420_cre_table_frontend_log.sql
  Postgres-cds_hub/init/430_cre_table_frontend_log.sql
  Postgres-cds_hub/init/440_cre_table_frontend_in.sql
  Postgres-cds_hub/init/450_cre_table_frontend_in_trig.sql
  Postgres-cds_hub/init/460_cre_view_fe_dataproc_last_import.sql
  Postgres-cds_hub/init/470_cre_view_fe_dataproc_all.sql
  Postgres-cds_hub/init/520_cre_view_fe_out.sql
  Postgres-cds_hub/init/600_dp_in_to_db_log.sql
  Postgres-cds_hub/init/620_fe_in_to_db_log.sql
  Postgres-cds_hub/init/950_cro_job.sql
  Postgres-cds_hub/init/migration/000_stop_semapore_during_migration.sql
  Postgres-cds_hub/init/migration/999_start_semapore_after_migration.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_table_COMMENTS.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_table_TABLES.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_trigger_set_id_TABLES.sql
  Postgres-cds_hub/init/template/template_adding_historical_records.sql
  Postgres-cds_hub/init/template/template_copy_function.sql
  Postgres-cds_hub/init/template/template_cre_table.sql
  Postgres-cds_hub/init/template/template_cre_trigger_set_id.sql
  Postgres-cds_hub/init/template/template_cre_view_all.sql
  Postgres-cds_hub/init/template/template_cre_view_diff.sql
  Postgres-cds_hub/init/template/template_cre_view_last_import.sql
  Postgres-cds_hub/init/template/template_cre_view_last_version.sql
  Postgres-cds_hub/init/template/template_get_last_pnr_typed.sql
  Postgres-cds_hub/init/template/template_take_over_check_date_function.sql
Labels: Component::cds_hub

#935 553 initiale statistik reports erstellen
  .gitignore
  Dockerfile_R
  R-cds2db/test/test_07_change_RAW_Data.R
  R-dataprocessor/dataprocessor/R/00_Main.R
  R-dataprocessor/submodules/manual_start/Statistical_Reports/R-Statistical_Reports/.Rbuildignore
  R-dataprocessor/submodules/manual_start/Statistical_Reports/R-Statistical_Reports/DESCRIPTION
  R-dataprocessor/submodules/manual_start/Statistical_Reports/R-Statistical_Reports/LICENSE.md
  R-dataprocessor/submodules/manual_start/Statistical_Reports/R-Statistical_Reports/NAMESPACE
  R-dataprocessor/submodules/manual_start/Statistical_Reports/R-Statistical_Reports/R/00_help-functions.R
  R-dataprocessor/submodules/manual_start/Statistical_Reports/R-Statistical_Reports/R/01_get-data.R
  R-dataprocessor/submodules/manual_start/Statistical_Reports/R-Statistical_Reports/R/02_mergers_and_calculations.R
  R-dataprocessor/submodules/manual_start/Statistical_Reports/R-Statistical_Reports/R/03_define-analysis-populations.R
  R-dataprocessor/submodules/manual_start/Statistical_Reports/R-Statistical_Reports/R/04_prepare-data.R
  R-dataprocessor/submodules/manual_start/Statistical_Reports/R-Statistical_Reports/R/05_calculate_reporting_numbers.R
  R-dataprocessor/submodules/manual_start/Statistical_Reports/R-Statistical_Reports/R/Main.R
  R-dataprocessor/submodules/manual_start/Statistical_Reports/R-Statistical_Reports/R/statisticalreports-package.R
  R-dataprocessor/submodules/manual_start/Statistical_Reports/R-Statistical_Reports/statisticalreports.Rproj
  R-dataprocessor/submodules/manual_start/Statistical_Reports/R-Statistical_Reports/tests/testthat.R
  R-dataprocessor/submodules/manual_start/Statistical_Reports/R-Statistical_Reports/tests/testthat/test-addMultipleRowsProcessingExclusionReason.R
  R-dataprocessor/submodules/manual_start/Statistical_Reports/README.md
  R-dataprocessor/submodules/manual_start/Statistical_Reports/Start.R
  R-etlutils/etlutils/DESCRIPTION
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_dir.R
Labels: enhancement, Component::dataprocessor

#936 Update README.md
  R-dataprocessor/submodules/manual_start/Statistical_Reports/README.md
Labels: enhancement, Component::dataprocessor

#937 Fix StartDebugSCDToolchain for non interactive runs
  R-cdstoolchain/StartCDSToolChain.R
Labels: bug
