Repository medizininformatik-initiative/INTERPOLAR, pull requests merged in 2025-03, with the labels that each got.

#633 Fix DEBUG_DAY implementation
  R-cds2db/test/test1_change_RAW_Data.R
  R-cds2db/test/test_common_data_preparation.R
  R-cdstoolchain/StartCDSToolChain.R
Labels: enhancement, Component::cds2db

#648 Update docker-compose.yml
  docker-compose.yml
Labels: enhancement

#652 Fix dbGetStatus() function
  R-dataprocessor/dataprocessor/R/02_Create_Simple_Patient_And_Case_Presentation.R
  R-db2frontend/db2frontend/R/02_DB_To_Frontend.R
  R-db2frontend/db2frontend/R/03_Frontend_To_DB.R
  R-etlutils/etlutils/R/lib_db.R
  R-etlutils/etlutils/R/lib_module.R
Labels: bug, Component::etlutils

#671 Sql scriptgenerierung erweitern
  Postgres-cds_hub/R-initcdstoolchain/initcdstoolchain/R/Init_02_Create_Database_Scripts.R
  Postgres-cds_hub/R-initcdstoolchain/initcdstoolchain/R/Init_03_Create_Database_Scripts_new.R
  Postgres-cds_hub/R-initcdstoolchain/initcdstoolchain/initcdstoolchain.Rproj
  Postgres-cds_hub/init/250_adding_historical_raw_records.sql
  Postgres-cds_hub/init/450_cre_table_frontend_in_trig.sql
  Postgres-cds_hub/init/template/LOOP_COLS_SUB_LOOP_TABS_SUB_cre_table_COMMENTS.sql
  Postgres-cds_hub/init/template/LOOP_COLS_SUB_LOOP_TABS_SUB_cre_table_TABLES.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_add_hist_records.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_adding_historical_records.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_copy_function.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_table_COMMENTS.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_table_INDEX_ID.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_table_TABLES.sql
  Postgres-cds_hub/init/template/LOOP_TABS_SUB_cre_trigger_set_id_TABLES.sql
  Postgres-cds_hub/init/template/SUB_LOOP_TABS_SUB_adding_historical_records.sql
  Postgres-cds_hub/init/template/template_adding_historical_records.sql
  R-cds2db/cds2db/R/00_Main.R
  R-cds2db/test/test2_change_RAW_Data.R
Labels: enhancement, Component::cds_hub
