Repository medizininformatik-initiative/INTERPOLAR, pull requests merged in 2025-08, with the labels that each got.

#888 github pages v1.1.0
  Postgres-cds_hub/init/100_cre_table_raw_cds2db_in.sql
  Postgres-cds_hub/init/120_cre_table_raw_db_log.sql
  Postgres-cds_hub/init/140_cre_table_typ_cds2db_in.sql
  Postgres-cds_hub/init/160_cre_table_typ_log.sql
  Postgres-cds_hub/init/300_cds_in_to_db_log.sql
  Postgres-cds_hub/init/310_cds_in_to_db_log.sql
  Postgres-cds_hub/init/330_cre_table_dataproc_submodules_dataproc_in.sql
  Postgres-cds_hub/init/331_cre_table_dataproc_submodules_log.sql
  Postgres-cds_hub/init/332_db_submodules_dp_in_to_db_log.sql
  R-cds2db/cds2db/R/00_Main.R
  R-cds2db/cds2db/R/04_Load_Resources.R
  R-cds2db/cds2db/inst/extdata/Table_Description.xlsx
  R-cds2db/cds2db/inst/extdata/Table_Description_Definition.xlsx
  R-cds2db/test/test3_change_RAW_Data.R
  R-cds2db/test/test4_change_RAW_Data.R
  R-cds2db/test/test5_change_RAW_Data.R
  R-cds2db/test/test7_change_RAW_Data.R
  R-cdstoolchain/StartDebugCDSToolChain.R
  R-dataprocessor/dataprocessor/NAMESPACE
  R-dataprocessor/dataprocessor/R/01_Shared_Functions.R
  R-dataprocessor/dataprocessor/R/02_MRP_Functions.R
  R-dataprocessor/submodules/01_Study_1a/R-Study_1a/R/01_Create_Patient_And_Case_View.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/00_Functions.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/01_Calculate_Drug_Disease_MRPs.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/02_Calculate_Drug_Drug_MRPs.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/03_Calculate_Drug_DrugGroup_MRPs.R
  R-dataprocessor/submodules/02_MRP_Calculation/Start.R
  R-dataprocessor/submodules/Dataprocessor_Submodules_Table_Description.xlsx
  R-db2frontend/db2frontend/R/02_Frontend_To_DB.R
  R-db2frontend/db2frontend/R/03_DB_To_Frontend.R
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_collections.R
  R-etlutils/etlutils/R/lib_envir.R
  R-etlutils/etlutils/R/lib_fhir_data.R
  R-etlutils/etlutils/R/lib_toml.R
Labels: enhancement

#894 893 fix redcap repeat instance in fall fe table
  R-dataprocessor/submodules/01_Study_1a/R-Study_1a/R/01_Create_Patient_And_Case_View.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/01_Calculate_Drug_Disease_MRPs.R
  R-etlutils/etlutils/R/lib_table.R
Labels: bug, Component::dataprocessor

#895 Develop
  R-cds2db/test/tables/medikationsanalyse_redcap.RData
  R-cds2db/test/test4_change_RAW_Data.R
  R-cds2db/test/test4_change_REDCap_Data.R
  R-cdstoolchain/StartDebugCDSToolChain.R
  R-dataprocessor/submodules/01_Study_1a/R-Study_1a/R/01_Create_Patient_And_Case_View.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/01_Calculate_Drug_Disease_MRPs.R
  R-db2frontend/db2frontend/R/03_DB_To_Frontend.R
  R-etlutils/etlutils/R/lib_table.R
Labels: bug, Component::dataprocessor

#896 Release
  R-cds2db/test/tables/medikationsanalyse_redcap.RData
  R-cds2db/test/test4_change_RAW_Data.R
  R-cds2db/test/test4_change_REDCap_Data.R
  R-cdstoolchain/StartDebugCDSToolChain.R
  R-dataprocessor/submodules/01_Study_1a/R-Study_1a/R/01_Create_Patient_And_Case_View.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/01_Calculate_Drug_Disease_MRPs.R
  R-db2frontend/db2frontend/R/03_DB_To_Frontend.R
  R-etlutils/etlutils/R/lib_table.R
Labels: bug, Component::dataprocessor

#904 820 add calculation of lab values for drug disease mrps
  R-cds2db/cds2db/R/04_Load_Resources.R
  R-cds2db/test/test4_change_RAW_Data.R
  R-dataprocessor/dataprocessor/NAMESPACE
  R-dataprocessor/dataprocessor/R/00_Main.R
  R-dataprocessor/dataprocessor/R/02_Input_Files_Functions.R
  R-dataprocessor/dataprocessor_config.toml
  R-dataprocessor/dataprocessor_config_example.toml
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/00_MRP_Submodule_Functions.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/01_Calculate_Drug_Disease_MRPs.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/02_Calculate_Drug_Drug_MRPs.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/03_Calculate_Drug_DrugGroup_MRPs.R
  R-db2frontend/db2frontend/R/03_DB_To_Frontend.R
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_medical_codes.R
Labels: enhancement, Component::dataprocessor

#908 891 enable full integration tests with generated redcap data
  R-cds2db/cds2db_config.toml
  R-cds2db/cds2db_config_example.toml
  R-cds2db/test/test1_change_RAW_Data.R
  R-cds2db/test/test2_change_RAW_Data.R
  R-cds2db/test/test3_change_RAW_Data.R
  R-cds2db/test/test4_change_RAW_Data.R
  R-cds2db/test/test5_change_RAW_Data.R
  R-cds2db/test/test_cds2db_config.toml
  R-cds2db/test/test_change_RAW_Data_template.R
  R-cdstoolchain/StartCDSToolChain.R
  R-cdstoolchain/StartDebugCDSToolChain.R
  R-db2frontend/db2frontend/R/03_DB_To_Frontend.R
Labels: enhancement

#909 878 standortspezifische variablen im frontend redcap
  R-db2frontend/db2frontend/R/02_Frontend_To_DB.R
  R-etlutils/etlutils/R/lib_db.R
Labels: enhancement, Component::db2frontend, Component::etlutils

#910 902 check column comparability to loinc primary in loinc mapping table
  Postgres-cds_hub/R-initcdstoolchain/initcdstoolchain/R/Init_02_Create_Database_Scripts.R
  Postgres-cds_hub/R-initcdstoolchain/initcdstoolchain/R/Init_03_Create_Database_Scripts_new.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/00_MRP_Submodule_Functions.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/01_Calculate_Drug_Disease_MRPs.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/02_Calculate_Drug_Drug_MRPs.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/03_Calculate_Drug_DrugGroup_MRPs.R
  R-db2frontend/db2frontend/R/01_Shared_Functions.R
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_medical_codes.R
  R-etlutils/etlutils/R/lib_table.R
  R-etlutils/etlutils/R/lib_table_description.R
  R-etlutils/etlutils/tests/testthat/test-lib_table.R
Labels: Component::dataprocessor
