Repository medizininformatik-initiative/INTERPOLAR, pull requests merged in 2025-07, with the labels that each got.

#827 Update pages.yml
  .github/workflows/pages.yml
Labels: enhancement

#828 Update pages.yml
  .github/workflows/pages.yml
Labels: enhancement

#830 825 GitHub pages mit GitHub actions erzeugen 1
  Gemfile
Labels: enhancement

#832 Create _config.yml
  _config.yml
Labels: enhancement

#833 Update Gemfile
  Gemfile
Labels: enhancement

#835 825 GitHub pages mit GitHub actions erzeugen 1
  Gemfile
  _config.yml
Labels: enhancement

#843 841 ingnore non ip ward encounters in db mrp calculations table
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/00_Functions.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/01_Calculate_Drug_Disease_MRPs.R
  R-dataprocessor/submodules/Dataprocessor_Submodules_Table_Description.xlsx
Labels: enhancement, Component::dataprocessor

#848 847 fix frontend table description
  Postgres-cds_hub/init/030_db_parameter.sql
  Postgres-cds_hub/init/330_cre_table_dataproc_submodules_dataproc_in.sql
  Postgres-cds_hub/init/331_cre_table_dataproc_submodules_log.sql
  Postgres-cds_hub/init/400_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/420_cre_table_frontend_log.sql
  Postgres-cds_hub/init/430_cre_table_frontend_log.sql
  Postgres-cds_hub/init/440_cre_table_frontend_in.sql
  Postgres-cds_hub/init/600_dp_in_to_db_log.sql
  Postgres-cds_hub/init/620_fe_in_to_db_log.sql
  R-db2frontend/db2frontend/inst/extdata/Frontend_DataDictionary.csv
  R-db2frontend/db2frontend/inst/extdata/Frontend_Table_Description.xlsx
  R-etlutils/etlutils/R/lib_wrap_fhircrackr.R
Labels: bug, Component::db2frontend, Component::cds_hub

#849 Develop
  .github/workflows/pages.yml
  Gemfile
  Postgres-cds_hub/init/030_db_parameter.sql
  Postgres-cds_hub/init/330_cre_table_dataproc_submodules_dataproc_in.sql
  Postgres-cds_hub/init/331_cre_table_dataproc_submodules_log.sql
  Postgres-cds_hub/init/400_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/420_cre_table_frontend_log.sql
  Postgres-cds_hub/init/430_cre_table_frontend_log.sql
  Postgres-cds_hub/init/440_cre_table_frontend_in.sql
  Postgres-cds_hub/init/600_dp_in_to_db_log.sql
  Postgres-cds_hub/init/620_fe_in_to_db_log.sql
  R-dataprocessor/submodules/01_Study_1a/R-Study_1a/R/01_Create_Patient_And_Case_View.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/00_Functions.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/01_Calculate_Drug_Disease_MRPs.R
  R-dataprocessor/submodules/Dataprocessor_Submodules_Table_Description.xlsx
  R-db2frontend/db2frontend/inst/extdata/Frontend_DataDictionary.csv
  R-db2frontend/db2frontend/inst/extdata/Frontend_Table_Description.xlsx
  R-etlutils/etlutils/R/lib_wrap_fhircrackr.R
  _config.yml
  index.md
Labels: bug, Component::db2frontend, Component::cds_hub

#850 Release
  .github/workflows/pages.yml
  Gemfile
  Postgres-cds_hub/init/030_db_parameter.sql
  Postgres-cds_hub/init/330_cre_table_dataproc_submodules_dataproc_in.sql
  Postgres-cds_hub/init/331_cre_table_dataproc_submodules_log.sql
  Postgres-cds_hub/init/400_cre_table_typ_dataproc_in.sql
  Postgres-cds_hub/init/420_cre_table_frontend_log.sql
  Postgres-cds_hub/init/430_cre_table_frontend_log.sql
  Postgres-cds_hub/init/440_cre_table_frontend_in.sql
  Postgres-cds_hub/init/600_dp_in_to_db_log.sql
  Postgres-cds_hub/init/620_fe_in_to_db_log.sql
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/00_Functions.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/01_Calculate_Drug_Disease_MRPs.R
  R-dataprocessor/submodules/Dataprocessor_Submodules_Table_Description.xlsx
  R-db2frontend/db2frontend/inst/extdata/Frontend_DataDictionary.csv
  R-db2frontend/db2frontend/inst/extdata/Frontend_Table_Description.xlsx
  R-etlutils/etlutils/R/lib_wrap_fhircrackr.R
  _config.yml
  index.md
Labels: bug, Component::db2frontend, Component::cds_hub

#855 825 GitHub pages mit GitHub actions erzeugen 1
  .github/workflows/pages.yml
Labels: documentation

#875 819 calculate drug drug mrps
  Postgres-cds_hub/init/330_cre_table_dataproc_submodules_dataproc_in.sql
  Postgres-cds_hub/init/331_cre_table_dataproc_submodules_log.sql
  Postgres-cds_hub/init/332_db_submodules_dp_in_to_db_log.sql
  R-cds2db/test/test4_change_RAW_Data.R
  R-dataprocessor/dataprocessor/NAMESPACE
  R-dataprocessor/dataprocessor/R/02_MRP_Functions.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/00_Functions.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/01_Calculate_Drug_Disease_MRPs.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/02_Calculate_Drug_Drug_MRPs.R
  R-dataprocessor/submodules/02_MRP_Calculation/Start.R
  R-dataprocessor/submodules/Dataprocessor_Submodules_Table_Description.xlsx
  R-etlutils/etlutils/NAMESPACE
  R-etlutils/etlutils/R/lib_collections.R
Labels: Component::dataprocessor

#879 Hanlde NA values in Medication References
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/00_Functions.R
Labels: bug, Component::dataprocessor

#881 880 prevent mrp calculation if all wards are in study phase a
  R-dataprocessor/dataprocessor/R/01_Shared_Functions.R
  R-dataprocessor/dataprocessor/R/02_MRP_Functions.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/00_Functions.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/01_Calculate_Drug_Disease_MRPs.R
  R-dataprocessor/submodules/02_MRP_Calculation/R-MRP_Calculation/R/02_Calculate_Drug_Drug_MRPs.R
  R-dataprocessor/submodules/02_MRP_Calculation/Start.R
  R-etlutils/etlutils/R/lib_envir.R
Labels: Component::dataprocessor

#882 873 db2frontend unrecognized or bad http content or transfer encoding error while processing content unencoding incorrect header check
  R-db2frontend/db2frontend/R/02_Frontend_To_DB.R
  R-db2frontend/db2frontend/R/03_DB_To_Frontend.R
Labels: bug, Component::db2frontend
